[2016-04-06 09:50] braveS commented on #509
You also could set required property.
[row setRequired:YES];

[2016-04-07 05:14] LixinQian opened #762 "How to change the width of section / cell?"
![pic](https://cloud.githubusercontent.com/assets/14228362/14341244/8eef6f2a-fcc2-11e5-8b46-14d1501ad2d7.png)

[2016-04-07 08:05] iBenjamin commented on #757
#512

[2016-04-07 09:46] #179 closed

[2016-04-07 21:05] focusedonfit opened #763 "XLFormRowDescriptorTypeImage value is null"
This is my first time using the new Image row. I am able to select an image and the image changes to the new image in the row, however when I look at the values it's null.

[code]
`"image_id": <null>`

[2016-04-08 05:22] Yaguding opened #764 "How to make rowB.value = rowA.value+1 when rowA.value changes."
I customize two  cells,  e.g. rowA & rowB.
when rowA changes，I want to set rowB.value = rowA.value+1

[2016-04-11 18:35] focusedonfit commented on #763
I would expect that the it would be a UIImage correct?

[2016-04-12 14:15] focusedonfit commented on #763
I was using httpParameters and it returns nil
formValues() returns the UIImage

[2016-04-12 19:34] royherma opened #765 "Changing separator inset and color"
How would one change the color of the separators and their insets in the XLFormViewController?

[2016-04-12 19:45] royherma commented on #765
My issue was that I was setting the tableView properties before the view was being displayed, hence they were not being applied.

Answer below:

[code]

[2016-04-12 19:45] #765 closed

[2016-04-12 20:01] royherma opened #766 "Remove section header/top space"
How can we remove the top space (/header) above each of the first rows in a new section (see attached photo):

![screen shot 2016-04-12 at 12 58 26 pm](https://cloud.githubusercontent.com/assets/3466248/14473790/96b434c6-00ae-11e6-941d-6c1e54daefbd.png)

[2016-04-20 02:40] Jeff-F commented on #756
in your subcontroller of xlformviewcontroller,  overide method:

if cell is XLFormDatePickerCell class, then set datepicker's backgroudcolor and textColor;

[2016-04-20 09:30] ernestopino commented on #761
I have the same problem… in my case the field is for user security code (4 digits from 0 to 9). Configuring cell with XLFormRowDescriptorTypeInteger the user can not enter the code "0000", the value of the cell always is "0" (integer value).

How can I change the keyboard type for cell of type "XLFormRowDescriptorTypeText" to show UIKeyboardTypeNumberPad ???

Thanks !!!

[2016-04-20 10:40] ernestopino commented on #761
@JaydenR, here is my solution… I hope it helps ;)

### 1. Create a class that inherits from XLFormTextFieldCell

#### `TASecurityCodeFieldCell.h`

Important, declare a new constant for a custom type of cell, in my case… **TAFormRowDescriptorTypeSecurityCodeField**

[code]

#### `TASecurityCodeFieldCell.m`

In the implementation file, use `load` class method to register your new class. Then, overri

[2016-04-21 09:58] Jeff-F opened #767 "Row hidden property not works for custom row"
Row hidden property not works for custom row。

When my preRow value change, the hidden  property not work.

preRow is a custom row inherits from XLFromBaseCell.
preRow's value is XLFormOptionsObject.

How can i use the hidden property in a custom row ?  thank you for help!

[2016-04-21 10:47] #767 closed

[2016-04-21 10:48] Jeff-F commented on #767
My fault， I miss add tag for row.  so i will close my issue.

[2016-04-21 15:20] Jeff-F commented on #625
I have the same demand. any progress ？

[2016-04-22 20:19] yj10041004 opened #768 "segment title truncated on XLFormSegmentedCell"
if a segment title  does not fit the segment width,  its truncated like "..."
added  below to prevent  truncation.

self.segmentedControl.apportionsSegmentWidthsByContent = YES;

[2016-04-23 04:37] tciuro opened #769 "XLFormRowDescriptor.cellStyle not working properly"
Using the XMLForm app as a test, I was trying to experiment with different cell looks. Using the UIKit documentation as a guide:

	typedef NS_ENUM(NSInteger, UITableViewCellStyle) {
	    UITableViewCellStyleDefault,	// Simple cell with text label and optional image view (behavior of UITableViewCell in iPhoneOS 2.x)
	    UITableViewCellStyleValue1,		// Left aligned label on left and right aligned l

[2016-04-23 04:46] tciuro opened #770 "Setting cellStyle to UITableViewCellStyleValue2 causes a crash"
Using the XMLForm app as a test, I was trying to experiment with different cell looks. Using the UIKit documentation as a guide:

	typedef NS_ENUM(NSInteger, UITableViewCellStyle) {
	    UITableViewCellStyleDefault,	// Simple cell with text label and optional image view (behavior of UITableViewCell in iPhoneOS 2.x)
	    UITableViewCellStyleValue1,		// Left aligned label on left and right aligned l

[2016-04-24 12:33] tciuro opened #771 "How can XLForm be added to an existing project?"
What are the steps needed to add XLForm to an existing project? It would be great if the documentation had a section explaining what the steps are, especially for projects that don't use CocoaPods or Carthage.

[2016-04-25 01:39] tciuro commented on #311
The problem still persists with the latest release (3.1.1). I added the following to the posfile:

    pod 'XLForm', '~> 3.1.1'

When I build `XLForm.xcworkspace > XLForm` I get 196 duplicate symbols. If I try with `XLForm.xcodeproj` I get:

	Ld /Users/tito/Library/Developer/Xcode/DerivedData/XLForm-dfphndxrjypkeubfcchttjnngbzw/Build/Products/Debug-iphonesimulator/XLForm.framework/XLForm normal x8

[2016-04-25 01:46] tciuro commented on #230
@mtnbarreto could you please elaborate on the following:

    When you use XLForm in your project, pod 'XLForm' :git => 'https://github.com/xmartlabs/XLForm.git'
    you will not include these dependencies (cocoapods will only include XLForm source files) since
    XLForm has not dependencies over other pods.

It would be great if the documentation stated how to use XLForm in other projects. Not e

[2016-04-25 01:48] smishal88 opened #772 "Not support for RTL in iOS 9"
iOS 9 contains support RTL (Right to left) UI, this feature you can enable it by using internationalization with Arabic localization.

The current status of XLForms in this situation: Some UI Bugs take a look to the attached screenshots:

![screen shot 2016-04-25 at 4 43 51 am](https://cloud.githubusercontent.com/assets/18650451/14771981/cbc607b0-0aa0-11e6-9471-cd82089307ea.png)
![screen shot 2016

[2016-04-27 05:32] brianfox201 commented on #354
I've implemented the custom inline segmented control. It gives me auto-layout warnings.
Also the selector  [UISegmentedControl autolayoutView]; is unrecognized.

[2016-04-29 19:43] mbopp opened #776 "XLFormTextFieldLengthPercentage causes Constraint "errors""
It seems that anytime I use the `XLFormTextFieldLengthPercentage` property key.  It doesn't appear to mess up the functionality at all, just creates lots of messages in the console.

    row = [XLFormRowDescriptor formRowDescriptorWithTag:kFieldName rowType:XLFormRowDescriptorTypeText title:@"Client Name"];
    row.required = YES;
    [row.cellConfigAtConfigure setObject:[NSNumber numberWithFloat:

[2016-05-04 13:34] mats-claassen commented on #755
This fixes that problem but it does generate other problems. We would have to find a more complete solution

[2016-05-04 13:38] mats-claassen commented on #756
That is a valid way. Do not forget to call super when you override that method

[2016-05-04 13:40] mats-claassen commented on #757
Also you can do that easily like explained in #702

[2016-05-04 13:41] #757 closed

[2016-05-04 13:45] mats-claassen commented on #761
Yeah you must create a subclass of XLFormTextFieldCell (or similar) and change keyboardtype. The solution of @ernestopino looks good.

@JaydenR I believe we can close this?

[2016-05-04 13:46] mats-claassen commented on #762
This is down to the frame of the tableView. If you set that correctly it should work.

[2016-05-04 13:48] mats-claassen commented on #763
I think this is correct, you wont be sending the image over HTTP by default. Normally you will have to upload it separately.

[2016-05-04 13:48] #763 closed

[2016-05-04 13:51] mats-claassen commented on #764
Hi @Yaguding , you can use the `onChangeBlock`. Look at #702 for an example. You will just have to get hold of rowB and change its value

[2016-05-04 13:51] #764 closed

[2016-05-04 13:53] #702 closed

[2016-05-05 02:05] JaydenR commented on #761
Hi, thanks for the replies,

@ernestopino I did consider making a subclass, but I hoped there was a more convenient way to change the keyboard type, though since you have provided your solution that is pretty convenient, thank you :).

@mats-claassen  Yeah we can close this, though out of curiosity, is it necessary to set the keyboard type to UIKeyboardTypeDefault in the update method for XLFormTe

[2016-05-05 06:54] navaneet commented on #755
ya tried that, I had to finally recalculate the height based on the content length and also the font used within heightForHeaderInSection. It works but if there is an easier solution I am listening!

[2016-05-05 14:32] mats-claassen commented on #761
Well, I did just try to use `cellConfig` for this but it seems UITextField is not key-value coding compliant for this attribute.

As you pointed out it might not be necessary to set the default value to the textfield.

[2016-05-05 16:29] negry commented on #241
row.cellConfig.setObject(UIColor.whiteColor(), forKey: "self.textField.attributedPlaceholder")
 this is not working for me

[2016-05-05 16:49] #761 closed

[2016-05-05 17:30] negry opened #778 "Unrecognized Selector on placeholder for textField"
code:

row = XLFormRowDescriptor(tag: Tags.curp, rowType: XLFormRowDescriptorTypeText, title: "CURP: ")
        row.cellConfigAtConfigure["textField.placeholder"] = "Required"
        row.cellConfig["textField.textColor"] = UIColor.whiteColor()
        row.cellConfig.setObject(UIColor.purpleColor(), forKey: "textField.attributedPlaceholder")
        row.required = true
        section.addFormRow(r

[2016-05-05 17:31] negry commented on #778
this is the error: unrecognized selector sent to instance 0x154571c80

[2016-05-06 11:45] mats-claassen commented on #241
@negry You have to set an attributed string and not a color to the attributed placeholder

[2016-05-06 11:49] mats-claassen commented on #778
Setting placeholder like that should work but you cannot set a color to the `attributedPlaceholder `. You have to set an attributedString or just set the textColor.

[2016-05-06 16:41] dielsonsales opened #780 "Disabling a XLFormRowDescriptorTypeButton doesn't make it grey"
If I have a `XLFormRowDescriptorTypeButton` with a `viewControllerClass` property set, when I disable it (changing the disabled property), it doesn't become grey or gives any sign that the cell is disabled.

[2016-05-07 06:49] mehdihz opened #781 "Right to Left support for XLForm"
The Persian language is Right To Left (like Arabic) and Apple does not support this language, thereby most of our users is using US English as default language so their devices is Left To Right.
I've tested transforming of view to change it's base like this code:
[view setTransform:CGAffineTransformMakeScale(-1, 1)];
And transforming back it's subviews, but I've faced problem with it.
I would like

[2016-05-10 03:33] batnom commented on #756
@Jeff-F @mats-claassen Thanks for this, was able to get it working as below.

Do you have any thoughts on how to handle the whole pushed view controller's (from a `XLFormRowDescriptorTypeMultipleSelector` row) background/text colours too?

Date Picker solution:

    - (void)tableView:(UITableView *)tableView willDisplayCell:(UITableViewCell *)cell forRowAtIndexPath:(NSIndexPath *)indexPath {

[2016-05-10 12:59] mats-claassen commented on #766
You can override the tableviews datasource methods and set that value. Look out for `tableView(tableView: UITableView, heightForHeaderInSection section: Int) -> CGFloat` and set it to something small. In my experience 0 does not work well

[2016-05-10 12:59] #766 closed

[2016-05-11 17:06] royherma commented on #766
@mats-claassen That doesn't work i tried it (`RubiFormViewController` is a subclass of `XLFormViewController`) ..

[code]

[2016-05-12 12:58] mats-claassen commented on #766
What style has your tableview? Grouped or Plain?
I believe grouped should work if you return 0.01 in
`- (CGFloat)tableView:(UITableView *)tableView heightForHeaderInSection:(NSInteger)section`

[2016-05-12 17:08] kemalbuyukterzi commented on #749
How can i access to accesibilityIdentifier of datepicker in swift related UITest. Or/And How can i change the selected picker value in iutest.
I have tried;
[code]
or
[code]
This two methods not worked for me.

[2016-05-13 05:18] ciumexan commented on #520
hello
i am launching XL FORM  a modal view. can this be done? Thanks

[2016-05-15 00:06] pmaccamp commented on #721
I just ran into the same issue with a simple multiline label cell I was trying to add to my form.  Here's an example rowdescriptor that reproduces the issue on ios 9.3.
[code]

I ended up using this workaround for that viewcontroller, thanks for the detailed post!

[2016-05-15 15:15] igor9silva commented on #493
@mats-claassen this should definitely be on the docs! I've had a hard time trying to find that information!

[2016-05-16 13:19] mats-claassen commented on #493
[Here](https://github.com/xmartlabs/XLForm#how-to-set-a-value-to-a-row) it is.

[2016-05-16 13:31] igor9silva commented on #493
Wow, I really missed it! Thanks @mats-claassen!

[2016-05-16 14:11] brianfox201 commented on #73
Can we change min/max date properties run time ?

[2016-05-16 17:36] mats-claassen commented on #493
Maybe our Readme is just too large to find certain topics...

[2016-05-18 20:13] saturnaa commented on #742
Override getHeightForRowAtIndexPath in your tableview and you could call a method there like customCell.getHeight() inside the block and calculate the height dynamically for that cell. Also inside your custom cell's controller you can call setNeedsDisplay() that will force the cell to redraw itself. That also causes drawRect() method to trigger which you can also override.

[2016-05-20 03:37] leewi9 opened #783 "how to dynamically create form within a form and pass the pushed form values back to the origin form?"
when click on `XLFormRowDescriptorTypeButton`, a new form with 3 or 4 fields will be pushed, and then after inputing all the fields in the new form, how to get the new form values and pass them back to the original form, and assemble it in the new form's `formValues`?

[2016-05-20 03:49] leewi9 commented on #783
<img width="880" alt="2016-05-20 11 48 23" src="https://cloud.githubusercontent.com/assets/10832544/15416690/d00e88bc-1e80-11e6-928a-59827538f517.png">

please help, thanks.

[2016-05-21 16:14] hanwenbo commented on #783
你的placehoder的大小如何设置的  我就是设置不了

[2016-05-21 16:19] hanwenbo commented on #778
怎么设置占位符的字体大小呢？

[2016-05-21 16:56] hanwenbo opened #784 "不可以垂直居中"
当我把左侧字体大小改成14时，就不垂直居中了，这个改怎么办呢

[2016-05-21 16:56] hanwenbo commented on #784
默认字体是16吧？我觉得太大了 要和整体UI统一 改成14后对不齐，不知道如何解决

[2016-05-21 16:57] hanwenbo commented on #784
神奇的是：如果右侧是XLFormRowDescriptorTypeSelectorSegmentedControl 元素 那么左侧14也是垂直居中的。

[2016-05-21 16:58] hanwenbo commented on #784
如果是XLFormRowDescriptorTypeText 字体设置小了 就不垂直居中了

[2016-05-23 15:16] mats-claassen commented on #784
Sorry @hanwenbo but I don't speak Chinese... Could you translate that to english?

[2016-05-23 15:19] mats-claassen commented on #778
I don't understand Chinese, but Google translate lets me guess you want to set the size of the placeholder. If so, have a look at how attributed strings are used. Its not an XLForm issue.

Closing this issue as answered

[2016-05-23 15:19] #778 closed

[2016-05-23 15:42] #742 closed

[2016-05-24 02:00] LixinQian opened #787 "How to make a row of values depend on other rows"

[2016-05-24 03:28] leewi9 commented on #783
@hanwenbo

[code]

[2016-05-24 03:40] korgx9 commented on #784
He things China is everywhere )

[2016-05-24 14:56] mats-claassen commented on #787
What exactly do you mean? Do you want to show a row depending on the values of other rows?
If so then have a look [here](https://github.com/xmartlabs/XLForm#make-a-row-or-section-invisible-depending-on-other-rows-values)

[2016-05-24 19:45] #780 closed

[2016-05-30 19:22] #784 closed

[2016-05-30 19:22] #787 closed

[2016-05-30 19:34] mats-claassen commented on #783
Hi @leewi9 I would suggest using a `XLFormRowDescriptorTypeButton`.
You can then push another form viewController.
To show the values in the initial form you might have to create your custom subclass of `XLFormButtonCell`

[2016-05-30 19:46] #776 closed

[2016-05-30 20:25] #770 closed

[2016-05-30 20:30] mats-claassen commented on #769
This is correct. Some types of rows do not support changing the cellStyle.
We wont fix this as we think it can be done with custom rows. If somebody wants to make a pull request with a tidy solution we might consider it.

In the meantime, if you need this you can create a subclass of the row you need and change its constraints.

The crash with Value2 is fixed now.

[2016-05-30 20:47] mats-claassen commented on #771
Hi @tciuro you can drag the XLForm.xcodeproj of the root folder into your project and add the XLForm.framework to the embedded binaries of your project.

Then `#import "XLForm/XLFormViewController.h"`
or whatever you need

[2016-05-30 20:48] #762 closed

[2016-05-30 20:54] #747 closed

[2016-05-30 20:54] mats-claassen commented on #740
Hi @ahidrees did that work out?

[2016-05-30 21:05] mats-claassen commented on #728
Try this:
[code]

[2016-05-30 21:05] #728 closed

[2016-05-30 21:07] mats-claassen commented on #721
This is now in the main version. Thanks for pointing out.

[2016-05-30 21:09] #719 closed

[2016-05-30 21:10] #718 closed

[2016-05-30 21:14] mats-claassen commented on #682
Duplicated #494

[2016-05-30 21:14] #682 closed

[2016-05-31 14:02] mats-claassen commented on #708
Why not compare the `formValue` of the object in 'isEqual'?
The `valueData` is also used in httpParameters and we dont want to get the object there but the formValue

[2016-05-31 14:30] #357 closed

[2016-05-31 14:54] #705 closed

[2016-05-31 15:00] mats-claassen commented on #246
@jkereako while it is true that sometimes you can swap one for the other and get the same result, there are cases where having both of them is useful.

[2016-05-31 15:00] #246 closed

[2016-05-31 15:15] #64 closed

[2016-05-31 15:15] #176 closed

[2016-05-31 15:22] mats-claassen commented on #385
@memmons-ntst Could you solve your issue?

[2016-06-01 17:47] mats-claassen commented on #744
I remember to have seen this but I am not seeing it anymore.
In which version have you seen this bug?

And how exactly are you setting up this DatePicker?

[2016-06-01 17:48] #722 closed

[2016-06-01 17:57] royherma commented on #744
Version 3.1.0 . Here is an example of my usage:

[code]

[2016-06-01 17:57] mats-claassen commented on #517
There is an example in `SelectorsFormViewController.m` of the examples project in Objective C.

[2016-06-01 18:16] #696 closed

[2016-06-01 18:16] #727 closed

[2016-06-01 18:16] #771 closed

[2016-06-01 18:44] mats-claassen commented on #452
NSFormatter support was merged.

[2016-06-01 18:44] #452 closed

[2016-06-02 06:17] batnom commented on #347
@ericcgu did you find out how to change the background colour of a pushed view from a multi selector?

[2016-06-02 11:56] anthonysg opened #795 "Does XLForm support UITableViewStylePlain?"
When I use UITableViewStylePlain for an XLForm (using the helper initializer), I see headers overlapping in the sample project after using inline datepickerViewCells. I have seen this happen in other open source projects so I am curious whether this is a common oversight because developers usually use UITableViewStyleGrouped.

![simulator screen shot jun 2 2016 7 38 15 am](https://cloud.githubuser

[2016-06-02 12:55] mats-claassen commented on #744
Tried your code and it works perfectly for me. Check out if it works for you with master branch.

(P.S. the only thing I commented out was the setting of fonts and text colors)

[2016-06-02 12:57] mats-claassen commented on #795
I believe this is something with how UITableViewStylePlain works and not a XLForm bug.

And probably you have to design your form a bit different than the examples if you want to use Plain style.

[2016-06-02 13:36] #675 closed

[2016-06-02 13:44] mats-claassen commented on #663
Did you find the issue?
In the examples the map row is defined like that and it works. What else do you set to your row?
For example ( this works and valueTransformer should not be necessary):
[code]

[2016-06-02 13:51] mats-claassen commented on #662
The exception you mentioned was happening because at the first execution the row was not yet added to the section. This exception should not popup anymore.
I have no experience with casting dates in a Predicate so I do not know if this use case works.

[2016-06-02 13:53] #659 closed

[2016-06-02 14:00] mats-claassen commented on #658
I will close this issue. If somebody is interested in such a row he can contact @bmichotte
As @mtnbarreto mentioned this is a very custom row and we won't merge it to XLForm's core.

[2016-06-02 14:00] #658 closed

[2016-06-02 14:14] #550 closed

[2016-06-02 14:19] #618 closed

[2016-06-02 14:21] mats-claassen commented on #617
Could you solve this with Multiple Selector row?

[2016-06-02 14:30] mats-claassen commented on #602
We will not implement this at this moment.

[2016-06-02 15:45] mats-claassen commented on #601
Thanks for the ideas. This will be in the next release

[2016-06-02 15:50] mats-claassen commented on #238
The fact that the tableview is hidden behind the navigationBar is something that you have to manage. For example if you have the tableview linked from a Storyboard take care that you do consider the navigationBar.
And if not then probably your navigationBar is not opaque.
This is not XLForm issue.

As to the width, I havent seen this in the latest versions...

[2016-06-02 15:52] mats-claassen commented on #592
Height for specific rows is now supported, self-expanding textViews not yet.
Eureka already has this feature so a solution for this could be based on Eureka's implementation.

[2016-06-02 15:52] #601 closed

[2016-06-02 16:46] #514 closed

[2016-06-02 16:48] #498 closed

[2016-06-02 17:17] mats-claassen commented on #494
This warning goes away if you set some value to `tableView.rowHeight` other than UITableViewAutomaticDimension. I believe this is just a warning and not really breaking anything.

To my understanding this happens with cells that have no Autolayout constraints and therefore the automatically calculated height is 0.

I have lived with this warning for a time now and never noticed problems but a simp

[2016-06-02 17:24] mats-claassen commented on #487
Hi @ds1239 did you solve this?
I would attack this using `onChangeBlock` to change the font of your preview and then updating the cell.
Maybe you want to specify a big default height for the cell and / or disable animations when you update the cell...

[2016-06-02 17:33] mats-claassen commented on #479
This has changed now. The designated initializers are `init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: NSBundle?) ` and `init?(coder aDecoder: NSCoder)`

[2016-06-02 17:33] #478 closed

[2016-06-02 17:37] mats-claassen commented on #463
@conradwt could you solve this?
This is a completely custom row.

[2016-06-02 17:49] mats-claassen commented on #415
@batnom have you solved this problem.
XLFormImageSelectorCell is working without this problem...

[2016-06-02 17:53] mats-claassen commented on #410
I believe this decision is up to every developer so that subclassing XLFormOptionsViewController is the best solution

[2016-06-02 17:53] #410 closed

[2016-06-02 21:33] royherma opened #798 "Change default color of noValueDisplayText"
This seems like it would be commonly used - is there a way to do this?

For example, have the label/textField's text change to red whenever there isn't a value and its displayed the `noValueDisplayText`?

Thanks!

[2016-06-03 05:59] batnom commented on #415
@mats-claassen Don't think I could figure out the root of the cause, but I believe adding this fixed it:
`imagePickerController.modalPresentationStyle = UIModalPresentationCurrentContext;`

[2016-06-03 05:59] #415 closed

[2016-06-03 10:21] prgorasiya opened #799 "Get attributed text from textview"
I am setting attributed text (With HTML Tags) as [row.cellConfig setObject:description forKey:@"textView.attributedText"]
So, at the time of saving data I want to get that attributed text in return but I couldn't find any way to get that.

[2016-06-03 21:28] mats-claassen commented on #799
Did you try calling `cellForFormController` to get the cell of a rowDescriptor and then casting it to the appropiate type and accessing its textView?

[2016-06-03 21:30] mats-claassen commented on #798
This is currently not supported. You can create a subclass of a cell and implement it there.

[2016-06-06 06:41] prgorasiya commented on #799
[code]

I have done this but I am not able to get attributed text of the textview.
Apart from that, I am trying to achieve my result by adding a custom cell, I have done all the things same as mentioned into one of your examples, but I am not able to load that custom cell, it is being loaded as blank row and child objects of that cell like text view and label are null when I checked into the metho

[2016-06-06 13:08] mats-claassen commented on #799
Your textView issue looks more to be something with UITextView. Look [here](http://stackoverflow.com/questions/18926399/how-to-get-current-attributed-string-in-non-editable-uitextview), you may have to set it selectable to get the attributed text.

On your other question, did you remember to add it:
[code]

In the readme there is [a section](https://github.com/xmartlabs/XLForm#how-to-create-a-cust

[2016-06-09 18:08] kuko91 opened #802 "How can change Done button text of XLFormRowDescriptorTypeSelectorPickerView?"
I have created this selectorpickerview and I want to change the text of done button in the toolbar...
Thanks!
row = [XLFormRowDescriptor formRowDescriptorWithTag:@"kSelectorPickerView" rowType:XLFormRowDescriptorTypeSelectorPickerView title:@"Talla de camiseta"];
    row.selectorOptions = @[[XLFormOptionsObject formOptionsObjectWithValue:@(0) displayText:@"XS"],
                            [XLForm

[2016-06-09 19:29] mats-claassen commented on #802
Do you want to change the input accessory view? Have a look at [this](https://github.com/xmartlabs/XLForm#how-to-change-input-accessory-view-navigation-view) in the readme

[2016-06-12 09:34] CaliosD opened #803 "Failed to push from formviewcontroller to a custom viewcontroller"
In a navigation controller stack, the first controller is a normal controller, while the form controller is the second one. I want to push from a cell of the second controller to a custom view controller like this.

[code]

However, I find myself fail to push to contactVC all the time. Is there anything else I need to do? I followed the example demo, but not work for my issue.

PS: I also tried to

[2016-06-13 20:13] #617 closed

[2016-06-13 20:17] mats-claassen commented on #308
I believe this can be done with a custom view as header or footer of the tableView or one section (using tableviews delegates) and then adding sections to the form.

[2016-06-13 20:17] #308 closed

[2016-06-13 20:20] mats-claassen commented on #192
Push selector has this functionality now.

For multiple selector, I believe that this is a rather custom approach and should be implemented subclassing XLFormOptionsViewController as @RyanBertrand mentioned.

[2016-06-13 20:20] #192 closed

[2016-06-13 20:24] #542 closed

[2016-06-13 20:24] #517 closed

[2016-06-13 20:26] #494 closed

[2016-06-13 20:27] #487 closed

[2016-06-13 20:28] #479 closed

[2016-06-13 20:38] mats-claassen commented on #379
`Required` should not check if the value of a switch row is true. It should just check that it has been touched so it is working as expected.
The solution is a validator like the one posted by menaweb.

[2016-06-13 20:38] #379 closed

[2016-06-13 20:41] mats-claassen commented on #354
Autolayoutview is a UIView method declared in an extension inside XLForm.

I suppose that those autolayout warnings are form the cell you created or do they have something to do with XLForm itself?

[2016-06-13 20:47] mats-claassen commented on #344
Not really.
formRowWithTag(tag).value accesses a stored dictionary while `formValues(tag)` loops through the form getting all the values.
So if you just want one row then formRowWithTag(tag).value will be more performant

[2016-06-13 20:47] #344 closed

[2016-06-13 20:57] #292 closed

[2016-06-13 21:12] mats-claassen commented on #256
This method is getting called for me. Seems to be working fine...

[2016-06-14 15:57] kuko91 commented on #802
I want to change de "Done" text of the selector picker view.
![screenshot](https://cloud.githubusercontent.com/assets/12160439/16049812/6505c540-3216-11e6-8ab1-aa29f65297f9.png)

[2016-06-14 16:40] mats-claassen commented on #802
Currently there is no easy way of doing that. You would have to override `-(UIView *)inputAccessoryViewForRowDescriptor:(XLFormRowDescriptor *)rowDescriptor;` and return a custom view. But you would also have to implement all of its functionality...

This is because the done button has style UIBarButtonSystemItemDone and you cannot change its title.

[2016-06-14 17:15] kuko91 commented on #802
Ok, I got it.

Thank you!

[2016-06-15 11:41] morugu opened #805 "Custom dynamic multiple selector row."
I want to display all selected values in row.
If user selected many values, row's height increase from default size to than big.
like that image.
https://drive.google.com/file/d/0B9VYuGIqVQihSnV1VFJSR2huNVU/view?usp=sharing

What would be the best thing to do?

[2016-06-15 14:56] mats-claassen commented on #805
Selector cells use the default textLabel and detailTextLabel so you have to play with them to get your desired cell.

This two lines will be a good start for you:
[code]

[2016-06-15 15:17] morugu commented on #805
@mats-claassen
is there `height` property in XLFormRowDescriptor ?

[2016-06-15 19:36] #802 closed

[2016-06-16 02:08] morugu commented on #805
I tried set config and become like that.
https://drive.google.com/file/d/0B9VYuGIqVQihMmZRT0N6RlRvOG8/view?usp=sharing

I wanna fix it.

[2016-06-16 13:38] mats-claassen commented on #805
The `height` property is in XLForm since the latest 3.2.0 release. It had been in master branch for a while.

[2016-06-16 13:50] morugu commented on #805
thanks for release 3.2.0. I confirmed adding `height` property.
however, not yet fixed this bug.
https://drive.google.com/file/d/0B9VYuGIqVQihMmZRT0N6RlRvOG8/view?usp=sharing

[2016-06-16 14:54] mats-claassen commented on #805
Ok I am seeing this now as well.
I believe I had this working but I discarded the code I was playing around with and it seems that there was something more I did to make this work which I do not remember.

Anyway [here](http://stackoverflow.com/questions/36587126/autolayout-ignores-multi-line-detailtextlabel-when-calculating-uitableviewcell-h) is a stack overflow question about pretty much the sam

[2016-06-21 06:28] dwjdwj1216 opened #807 "How can I get the button of cell in controller"
I custom two button cell. And one button is use to push a controller, and the other is to record voice. In my mind, the only way to realize this is to get those two button in the controller. But I have no idea what to do. Anyone have met this problem?

[2016-06-21 06:43] zjTek commented on #807
you guess😄

[2016-06-21 06:51] dwjdwj1216 commented on #807
I think I may get it.Combine the 1st and 4th button row in demo. I will try it.

[2016-06-24 14:53] ngheungyu opened #808 "Objective-C Examples crash on 3.2.0"
Hi Team,

I ran the Examples Objectve-C and once I clicked on "Selectors" & "NSFormatter support" row, it crashed. Other rows like "Text Fields" are working fine.

Setup:
Cocoapod v1.0.1
XCode 7.3.1
Simulator iPhone 6

Please see my log below:

[2016-06-24 15:17] ziogaschr commented on #808
Will try to check this during the weekend. Apologies if this is something I missed. It works fine on Swift at the moment

[2016-06-24 15:18] ngheungyu commented on #808
thank @ziogaschr for the prompt response! Appreciate it.

[2016-06-24 15:31] fwhenin commented on #808
Can you post your code on how you set the row up?

[2016-06-24 15:53] ngheungyu commented on #808
@fwhenin it's in the [Examples/Objective-C](https://github.com/xmartlabs/XLForm/tree/master/Examples/Objective-C)

[2016-06-24 17:01] mats-claassen commented on #808
Hi @ngheungyu are you sure you did not change anything?
This does not crash for me on simulator (neither master branch nor release 3.2.0 source code)

[2016-06-25 01:14] ngheungyu commented on #808
@mats-claassen thanks. I clone it fresh and didn't change anything. But I did upgrade Cocoapods to 1.0.1 .... now same problem crashed on 3.1.2. Any thoughts would be much appreciated!

[2016-06-26 07:36] ngheungyu commented on #808
So in the end, it's related to Cocoapod caching issue [explained here](https://github.com/CocoaPods/CocoaPods/issues/5341). I've managed to solve it by deleting stuffs inside DerivedData. Thanks guys!

[2016-06-26 07:36] #808 closed

[2016-06-27 13:02] mats-claassen commented on #808
Great to know you resolved the issue

[2016-06-27 13:37] jeanmartin commented on #580
How is this a feature request and not a bug? Also, I could not find the 'duplicate' of this, could somebody point me to it?

[2016-06-27 16:14] devloe opened #809 "XLFormRowDescriptorTypeBooleanCheck into array"
I have multiple XLFormRowDescriptorTypeBooleanCheck, and I want to get those checked into an array.

Is it possible?

[2016-06-27 16:30] mats-claassen commented on #580
In fact this should be fixed already... Did you have this problem with the latest version?

[2016-06-27 18:23] jeanmartin commented on #580
Ah, just upgraded and can confirm: it is fixed 👍

[2016-06-27 20:00] jeanmartin commented on #452
This is not solved. Other separators than '.' are not respected.
The line now reads:
[code]
To respect the current locale it should read (according to [this](http://stackoverflow.com/questions/15534431/nsdecimalnumber-decimalnumberwithstring-ignores-current-locale)):
[code]
I will create a pull request... no. 31 as of now :|

[2016-06-28 02:58] dwjdwj1216 opened #811 "How to dynamic show photo in cell with xlform"
I want to design a cell, which is used to show photos that user selected. But the number of photos is dynamic. So the cell's width and height is dynamic. I don't know how to make it happen. Can anyone give me a suggestion?.

[2016-06-28 12:46] mats-claassen commented on #811
You can use the `height` property to define the height of your cell. The width should be the width of the tableView always.
But are you sure you want to do this in a tableView cell? Why do not put this in another view?

[2016-06-28 12:46] #580 closed

[2016-06-28 13:01] mats-claassen commented on #734
Have a look at NSFormatter support examples in the examples app. You should be able to set  a formatter for your row

[2016-06-28 13:02] #662 closed

[2016-06-28 13:04] #385 closed

[2016-06-29 02:15] dwjdwj1216 commented on #811
Ok.I think i have a way to finish it. But there is an another problem. I click the button in the custom cell, and push new controller. When come back, the cell's update method did't call, what's the problem?

[2016-06-29 04:47] vishal-p opened #812 "Setting autocapitalizationType property on textField crashes the control."
Example

`row = XLFormRowDescriptor(tag: Tags.Name, rowType: XLFormRowDescriptorTypeText, title: "Full name")
row.cellConfig["textField.capitalizationType"] = UITextAutocapitalizationType.Words.rawValue`

Crash:

`2016-06-29 14:43:17.777 Homepass[23844:29908723] Exception name=NSUnknownKeyException, reason=[<UITextField 0x7f8e51e14dd0> setValue:forUndefinedKey:]: this class is not key value coding

[2016-06-29 06:33] dwjdwj1216 commented on #811
Of course i can put it in a view. But how can i compose what i need using the view with XLForm?

[2016-06-30 06:22] AlbertoMrFz opened #813 "Accept Conditions of Use and Privacy Notice When finish the form"
Hi,
it is possible to make something similar this?
![testamazon](https://cloud.githubusercontent.com/assets/9303324/16478710/c4e9d7bc-3e9b-11e6-99f2-fe2f6f8597d5.PNG)

[2016-06-30 13:20] mats-claassen commented on #813
You should use `-(UIView *)tableView:(UITableView *)tableView viewForHeaderInSection:(NSInteger)section` and `-(CGFloat)tableView:(UITableView *)tableView heightForRowAtIndexPath:(NSIndexPath *)indexPath` to accomplish that.
Just define those methods in your `XLFormViewController subclass`

[2016-06-30 15:48] jeantimex commented on #783
Thanks @mats-claassen, how to pass the form data between two form view controllers? Is it possible to use segue and unwind segue? Thanks!!

[2016-06-30 21:38] JorgeAGomez opened #815 "How can I modify the XLFormViewController_ValidationErrorTitle?"
How can I change the "XLFormViewController_ValidationErrorTitle" for something more appropiate?

How can I change that title?

This is what I have for the first row which takes the first name:

`//First name`
    `personalInformationRow = [XLFormRowDescriptor formRowDescriptorWithTag:@"First name" rowType:XLFormRowDescriptorTypeText title:@"First name"];`
  `  personalInformationRow.required = YES

[2016-07-01 02:22] dwjdwj1216 opened #816 "removeFormRow but also can find the row by tag？"
I use removeFormRow to delete a row but I can find the row by tag after call removeFormRow. What wrong ?

[2016-07-01 11:53] Alokxmathur commented on #739
I had the same problem with selector rows. I ended up creating custom selector class to handle it, copying most of the code from the TextView row type. Don't know if it is the most elegant way of doing this or not but here it is in case someone want to incorporate it. Currently it has a hard coded percentage of 80% for the title and 20% for the selector.

//
//  CustomSelectorCell.m
//  iSteward
/

[2016-07-01 19:35] wieseljonas commented on #721
What's the progress on this I have a custom textviewcell and I want to be able to dynamically change the height as content is typed. Any ideas on how to do this?

[2016-07-02 01:14] LennyDu opened #818 "How to use AFNetworking 3.0+ in XLForm"
I want to use AFNetworking 3.1.0 or 3.0.0+ in XLForm(OC), but I don't know how to do. Can anyone give me a suggestion?

[2016-07-02 02:06] #818 closed

[2016-07-02 20:49] sumowesley commented on #815
Is this a duplicate of #396?

[2016-07-04 01:14] jpmhouston commented on #721
Yes, I got that working in a text view cell. I made my own subclass of `XLFormBaseCell` that does a bunch of common things including this resizing & some common layout logic for my cells. With those abstractions, that probably makes my solution more complicated than it has to be. For example, perhaps you get away without completely replacing the XLForm cell implementation, and another issue I'll n

[2016-07-04 01:27] jpmhouston commented on #721
Also, I'll (somewhat) soon be updating my changes so to be nicer to use with stock XLForm, including a thin subclass of `XLFormViewController` & specialization of the `XLFormDescriptorCell` protocol. Unfortunately, my custom cells that use this and support auto-resizing & many fancy layouts like multi-line title & value labels, that's the property of my last client. If they're willing to open sour

[2016-07-04 07:24] AlbertoMrFz commented on #813
Hi, thanks for your answer, but how i can inmplements that in swift??

[2016-07-05 22:01] wieseljonas commented on #721
@jpmhouston thanks for the thorough answer I'll give it a shot

[2016-07-05 22:37] wieseljonas commented on #721
My route is similar but when I update the tableview it calls `formDescriptorCellHeightForRowDescriptor`
which can't be dynamic

[2016-07-06 05:26] TaichiAkimoto opened #820 "How to write selectorOption in ladder form?"
I have written options on xlform using selectorOption so far.
Now, I want to show them in ladder form, like date(calender) is shown on xlfrom.
If you know how to do it, please tell me.
Thanks in advance.

[2016-07-06 17:15] royherma opened #821 "Remove weird animation when focusing on UITextField"
It seems like the default behavior for all `XLFormTextFieldCell` that contain a `UITextField`, is to have that textfield's text animate down and below (essentially out of the cell's bounds and thus can't be seen) once the user focuses and attempts to type something (before actually typing anything). Once they start type, the text re-appears in the textfield and works OK.

How can I remove this ini

[2016-07-07 13:48] mats-claassen commented on #811
Since 3.2.0 there is a `height` property. There is [an example](https://github.com/xmartlabs/XLForm#how-to-change-the-height-of-one-cell) in the readme.
And you can use `onChangeBlock` to update that view when a new photo is selected or whatever. There is an example in #702

[2016-07-07 13:53] mats-claassen commented on #813
What do you mean? Those delegate methods?

[2016-07-07 14:00] mats-claassen commented on #815
Yes seems so.

[2016-07-07 14:00] #815 closed

[2016-07-07 14:05] mats-claassen commented on #816
That should not be happening. Can you show some example code?

[2016-07-07 14:10] mats-claassen commented on #820
What do you mean by ladder? Can you be more explicit?
Do you mean the UIPicker? Have you tried `XLFormRowDescriptorTypePicker`

[2016-07-07 14:16] mats-claassen commented on #821
Hi @royherma . Sorry but I do not understand what you mean or I have never seen that animation. Can you upload a gif?

[2016-07-07 17:13] royherma commented on #821
Here is gif:

![xlform_bug_vid](https://cloud.githubusercontent.com/assets/3466248/16662148/ef223472-442a-11e6-9472-50243e4743d5.gif)

And here is the code for those top two cells:

[code]

[code]

[2016-07-08 02:34] TaichiAkimoto commented on #820
UIPicker is exactly what I've been looking for.
Thank you!

Moreover, I want to show two ladders in parallel if I click XLForm cell.
How can I implement a view like this?
If you know, I would appreciate if you tell me.

[2016-07-11 16:51] mats-claassen commented on #155
@deanq could you implement this?

[2016-07-11 16:52] #354 closed

[2016-07-11 16:55] #756 closed

[2016-07-11 17:00] mats-claassen commented on #820
You would have to create a custom cell for example in a nib file and arrange views as you like. #676 might help you

[2016-07-11 17:10] mats-claassen commented on #821
I have not seen this and I do not think it is the default behaviour as I do not see it in the examples either.
I have no clue as to from where that may come

[2016-07-11 17:11] royherma commented on #821
Alright, i'll do some more digging and post my solution when i find it.
Thanks

On Mon, Jul 11, 2016 at 10:10 AM, Mathias Claassen <notifications@github.com

[2016-07-11 17:49] mats-claassen commented on #821
Thank you @royherma

[2016-07-12 03:04] TaichiAkimoto commented on #820
I could implement correct program by increasing numberOfComponentsInPickerView or other methods.
But, thank you for kind answer! I will try to use custom view, though it looks a little difficult.

[2016-07-15 07:10] XinwenCheng opened #822 "About XLOnChangeBlock"
Hi @mats-claassen ,

I want to modify property value of data object when user change text form, so I copy source code from your official demo (in Examples/Swift/SwiftExample/PredicateExamples/PredicateFormViewController.swift) like following:
[code]
It always cause a build error says _Error: cannot assign value of type '(_, _, _) -> ()?' to type 'XLOnChangeBlock?'_ But no such error during officia

[2016-07-15 12:42] mats-claassen commented on #822
That error might come from `newValue` being `AnyObject?` and not the expected type for `originalPlan.subject`. Xcode error messages are not always accurate. This is just a guess, it could be something similar.
Otherwise your code is correct, I think

[2016-07-15 13:03] XinwenCheng commented on #822
Great! @mats-claassen , thanks for your suggestion, it works for
'''
self?.originalPlan.subject = ("\(newValue!)" ?? "")
'''

[2016-07-15 13:03] #822 closed

[2016-07-15 21:38] kuko91 commented on #738
Hi! Is that currently possible? How the user can be able to only select "x" count of items?

[2016-07-16 17:35] carlhunterroach opened #823 "Can I have a different display text for a form row to that selected in a XLFormRowDescriptorTypeSelectorPush ?"
I have a row of type `XLFormRowDescriptorTypeSelectorPush`

I've set `row.selectorOptions = [XLFormOptionsObject]()` (with a populated array)

After a user selects from the list can I display different text in the main form? An empty string for example? When I've used a custom controller I've set `row.valueTransformer` to achieve this but without a custom view controller then my transformer is cal

[2016-07-16 17:37] carlhunterroach opened #824 "Catching "existing item tapped" for a XLFormRowDescriptorTypeSelectorPush item"
I have a row of type `XLFormRowDescriptorTypeSelectorPush`

I've set `row.selectorOptions = [XLFormOptionsObject]()` (with a populated array)

When a new item is selected I am catching `formRowDescriptorValueHasChanged()`
If the user taps the existing selected item what event can I catch?

[2016-07-18 08:41] carlhunterroach opened #825 ""numeric" row tags crash if used by NSPredicate()"
I have used strings such as "6900" to tag my rows.

This has been fine until I wanted to do this:

`row.hidden = NSPredicate(format:"$6650.isHidden == 0")
`
which crashes when called.

but an a-z prefix works.

`row.hidden = NSPredicate(format:"$q6650.isHidden == 0")`

Is there a syntax for `NSPredicate()` I can use that would enable me to forgo the prefix.

[2016-07-18 11:04] carlhunterroach opened #826 "How to apply an NSPredicate to a custom row"
I have a row of type `XLFormRowDescriptionTypeSelectorPush`

I set `row.value` to a custom class `"Agreement"` and `row.addValidator(AgreementValidator())`

I want another to be hidden/shown depending upon the value of `Agreement.agree` (which is `"Accepted"` or `"Declined"`).

I can't figure out how to do this.

`other_row.hidden = NSPredicate(format:"$other_tag.value != "Accepted")`

But the val

[2016-07-18 16:03] carlhunterroach commented on #826
I've an ugly workaround…

I add an 3rd row, a text row, and hide it.
I "point" the NSPredicate of my 2nd row to the value of the 3rd.
When the 1st row's value changes I change the value of the additional 3rd row: this then causes the 2nd row to update by firing off the NSPredicate.

Ugly. Hoping a direct solution is available.

[2016-07-19 01:46] dwjdwj1216 commented on #811
the onChangeBlock is awesome!! Thank you!

[2016-07-19 01:47] #811 closed

[2016-07-19 13:30] mats-claassen commented on #738
Currently this is not supported. You might find a workaround using onChangeBlock and maybe you can get hold of the pushed view controller by using a segue mode and overriding `prepareForSegue`. I have not tried this out

[2016-07-19 13:33] mats-claassen commented on #826
I guess that in your predicate "$other_tag.value != "Accepted"", predicate `$other_tag.value` is your `Agreement`. Have you tried with "$other_tag.value.agree != "Accepted""?

[2016-07-19 13:37] mats-claassen commented on #824
There is currently no event for this. But you could use a customViewController.

[2016-07-19 13:41] mats-claassen commented on #823
I can not remember a way to do this currently. You may have to use a custom controller for this

[2016-07-19 13:55] carlhunterroach commented on #823
thanks.

If an approach does spring to mind please fire it this way.
thanks again

[2016-07-19 18:50] kuko91 opened #827 "XLFormRowDescriptorTypeImage cancel option"
Why the XLFormRowDescriptorTypeImage doesn't have a cancel option before to going to the photos albums view?
I'm testing in iPhone and when I try to add a image, I must go to  "Choose from library" option for cancel.
In iPad works fine because if you tap the screen, the "actionsheet" close automatically.

Thanks.

[2016-07-20 06:03] ablexie opened #828 "How to set up the form of internationalization does not follow the mobile phone system"
I want  to make a table with English Language when the mobile phone system is in Chinese, how can I do it, thank you

[2016-07-20 06:20] ablexie commented on #828
In other words，how to change the XLFormRowDescriptorTypeDate 's  internationalization?
![snip20160720_8](https://cloud.githubusercontent.com/assets/12047755/16976877/f2bfa1c8-4e84-11e6-8f59-28bd1f0a89c8.png)

[2016-07-20 06:30] ablexie commented on #828
In other words，how to change the XLFormRowDescriptorTypeDate 's internationalization?
![Uploading Snip20160720_9.png…]()

[2016-07-20 06:41] ablexie commented on #828
In other words，how to change the XLFormRowDescriptorTypeDate 's internationalization?
![Uploading Snip20160720_9.png…]()

[2016-07-20 13:13] mats-claassen commented on #827
This is not correct.
Have a look at the examples. `XLFormRowDescriptorTypeImage ` has a cancel option and you can close it by tapping the screen

[2016-07-20 13:57] XinwenCheng opened #829 "How To Show Characters in XLFormRowDescriptorTypePassword?"
Hi @mats-claassen ,

Is there any way to show/hide characters in XLFormRowDescriptorTypePassword? I tried following line, but it doesn't work, and I didn't find out any clue in demo or document yet.
[code]

[2016-07-21 02:21] ablexie opened #830 "XLFormDateCell's property missing datePicker.locale setting way"
XLFormDateCell.h
add line:
@property (nonatomic) NSLocale   *locale;

XLFormDateCell.m
add line:
if (self.locale) {
        datePicker.locale = self.locale;
    }
in -(void)setModeToDatePicker:(UIDatePicker *)datePicker;

[2016-07-21 02:24] ablexie commented on #830
I hope it can be done.However,thanks for XLForm team.Tomorrow will be better!Thank you again.

[2016-07-21 20:43] mats-claassen commented on #829
Hi,
You should try with `cellConfig` instead of cellConfigAtConfigure

[2016-07-21 21:01] mats-claassen commented on #830
Why don't you use `cellConfig` or `cellConfigAtConfigure` to set your locale?
[code]

[2016-07-22 01:19] XinwenCheng commented on #829
Great, thanks!

[2016-07-22 01:19] #829 closed

[2016-07-22 01:55] ablexie commented on #830
I have used cellConfig or cellConfigAtConfigure to set the locale,but it's useless.Like that:
![snip20160722_14](https://cloud.githubusercontent.com/assets/12047755/17044384/2fe53054-4ff2-11e6-9213-d2633310eb26.png)

And my app use the rowType "XLFormRowDescriptorTypeDateInline" for DatePicker. As a result, I found there missing property locale in XLFormDateCell.h and XLFormDateCell.m
Finally,my c

[2016-07-22 01:58] ablexie commented on #830
I have used cellConfig or cellConfigAtConfigure to set the locale,but it's useless.And my app use the rowType "XLFormRowDescriptorTypeDateInline" for DatePicker. As a result, I found there missing property locale in XLFormDateCell.h and XLFormDateCell.m
Finally,my code change to:
[row.cellConfig setObject:[NSLocale localeWithLocaleIdentifier:@"de"] forKey:@"locale"];

[2016-07-22 14:27] #830 closed

[2016-07-26 08:46] JordekFluffball commented on #702
Here's a method for making a section work like a radio selection:

`- (void)makeRadioSection:(XLFormSectionDescriptor *)section{
    typeof(self) __weak weakself = self;
    for (XLFormRowDescriptor *row in section.formRows) {
        row.onChangeBlock = ^(id oldValue, id newValue, XLFormRowDescriptor* __unused rowDescriptor){
            if ([newValue  isEqual: @YES]) {
                for (XLFor

[2016-07-27 18:10] cerupcat commented on #57
@teevans Did you ever implement this?

[2016-07-28 21:21] cerupcat commented on #460
I'm still seeing this occur in the latest codebase. Anyone else?

[2016-08-01 07:24] CaliosD opened #833 "How to delete date row input which is not required?"
I used the row type of `XLFormRowDescriptorTypeDateInline` in my form. But I found it unable to clear the date I selected.
Is there a property or a solution to handle this kind of problem?
Thanks in advance if anyone could help.

[2016-08-01 11:48] daheli opened #834 "Why is old version in pod?"
I find the latest version is '3.2.0' in github,
but why am I searching from pod, I got an older version.
why?

[code]

[code]

[2016-08-01 14:46] mats-claassen commented on #834
Are you searching at [cocoapods](https://cocoapods.org/?q=xlform)? I am seeing a 3.2.0 there.

[2016-08-02 04:33] Sweeper777 opened #835 "Can you add Swift translations of the code in README?"
I can see that a lot of the Objective-C code has been translated into swift already. I really appreciate that. But the code snippets about multivalued sections, dynamic forms and custom cells hasn't been translated. I can't read Objective-C code that well, especially those method declarations shown in the dynamic forms section.

[2016-08-02 04:49] Sweeper777 opened #836 "How can I add default values to rows?"
Let's say that I want users to fill in quite a long form. I want to add a "save as draft" option to temporarily store the form's values in an object. And later, when the user wants to continue filling in the form, he/she can just tap a button and the form is presented with the values that he/she just entered.

So I just did a little test like this:

[code]

I thought this would show a form with a

[2016-08-02 11:49] luxystech opened #837 "Custom button row design not working"
Hello!
Trying to use as an example code
[code]

But not working. Thank in advance for any help.

[2016-08-02 11:53] luxystech commented on #836
row.value = @"it works";

[2016-08-03 07:42] XinwenCheng opened #838 "How To Change Button's Title"
Hi @mats-claassen ,

I have a question, how to change title of a button (XLFormRowDescriptorTypeButton) after added into form.

For instance, there's button, its title is "Unclicked", and after user clicked it, title needs to be changed into "Clicked". I checked demo source code, and seems it uses self.updateFormRow(), but I use it after each time I set title to a button programmatically, there's

[2016-08-03 09:36] CaliosD commented on #833
@mats-claassen Could you please have a look at this issue? Thanks for your time and attention. :)

[2016-08-03 09:52] foolish1016 opened #839 "textlabel Not align"
[https://github.com/foolish1016/testProject/blob/master/562FD521-ADA4-4DBB-9E0C-B01E03AFB6A8.png](url)
how  solve the problem？

[2016-08-03 09:59] foolish1016 commented on #839
https://github.com/foolish1016/testProject/blob/master/562FD521-ADA4-4DBB-9E0C-B01E03AFB6A8.png

[2016-08-03 12:41] mats-claassen commented on #839
Hi which version are you using?
We recently [fixed this issue in Eureka](https://github.com/xmartlabs/Eureka/commit/7bfbeec940fb963aab63223a716e8f1a975bb80f). I believe it must be similar in XLForm. You could start with that and submit a pull request.

[2016-08-03 12:50] mats-claassen commented on #833
This is not a build in functionality. You can do it by adding a button somewhere and in the action of that button set the value of the date inline row to nil and update its cell.

[2016-08-03 12:58] mats-claassen commented on #838
You should call `reloadFormRow`. I did not completely get what is happening to you. You say there is a new button added to the form? Are you inserting new buttons to the form?
I did not try it but something like the following should work:
[code]

[2016-08-03 13:04] mats-claassen commented on #836
The function `formValues` of `XLFormDescriptor` might help you to get a dictionary of all the values. I would just save this dictionary as draft and then put all the values to each row when you reload the form. You would not be type checking in this case, but XLForm was mainly written for Objective-C. There is no documentation as to which type of value is accepted by each row.

[2016-08-03 13:07] mats-claassen commented on #837
You mean the configuration of colors?
`backgroundColor` is working for me and the second one is not working because textLabel has no property color. I believe you might mean `textColor`, right?
It works for me

[2016-08-03 13:16] XinwenCheng commented on #838
@mats-claassen , I tried reloadFormRow method, but there still will be a new row each time. And there's no code to insert new one. Due to source code relates to my business logic, it's not convenience to show you yet, I'll debug more and discuss with you if I still cannot handle this problem, thanks!

[2016-08-03 14:33] Sweeper777 commented on #836
Okay I see. Thanks.

[2016-08-03 14:33] #836 closed

[2016-08-03 15:19] devloe opened #840 "Add image to XLFormRowDescriptorTypeBooleanCheck"
How can I add an image to a XLFormRowDescriptorTypeBooleanCheck?

Using Swift.

[2016-08-03 15:44] foolish1016 commented on #839
i use  XLFormRowDescriptorTypeText ,XLFormRowDescriptorTypeDate,XLFormRowDescriptorTypeRate  types.
If these 3 types are set imageView. this question is  still.

[2016-08-03 16:06] foolish1016 commented on #839
the code
//        // Date
        row = [XLFormRowDescriptor formRowDescriptorWithTag:kDate rowType:XLFormRowDescriptorTypeDate title:@"Date"];
        row.value = [NSDate new];
        [row.cellConfig setObject:[UIImage imageNamed:@"default_avatar"] forKey:@"imageView.image"];
        [row.cellConfigAtConfigure setObject:[NSDate new] forKey:@"minimumDate"];
        [row.cellConfigAtConfigure set

[2016-08-03 16:08] foolish1016 commented on #839
https://github.com/foolish1016/testProject/blob/master/8405258F-4297-459E-814B-54D9A6989465.png

[2016-08-03 16:51] foolish1016 commented on #839
3q   !!!!!
in XLFormTextFieldCell    225 row delete
and add  this code:
   self.dynamicCustomConstraints = [NSMutableArray arrayWithArray:[NSLayoutConstraint constraintsWithVisualFormat:@"H:[image]-(15)-[label]-[textField]-|" options:0 metrics:nil views:views]];

[2016-08-04 01:35] #839 closed

[2016-08-04 02:54] XinwenCheng commented on #838
Hi @mats-claassen , I got the reason, if I change title of button row and invoke reloadFormRow() directly like sample does, it works. But the real business logic is I have to change title after accessed database, so I do it in following code:
[code]
Each time there will be a new row added in form.

Do you have any experience on this? If yes, that would be very helpful, thanks!

[2016-08-04 04:22] XinwenCheng commented on #838
Hi @mats-claassen , I found the reason, in sample code, we change title and invoke reloadFormRow() directly, it works. But in real business logic, I have to change and invoke after database operation, as following two pieces of code:
[code]
In this way, each time there's a new row be added in section.
[code]
Even in this way, there still be a new row added each time.

Do you have any experience on

[2016-08-04 07:09] Sweeper777 opened #841 "How to create the "add" button in a multivalued section?"
In the README, there seems to be an add button at the last row of a multivalued section. It seems to be an `XLFormRowDescriptorTypeButton`. I tried to recreate this in my own code.

        let section = XLFormSectionDescriptor.formSectionWithTitle("My Section", sectionOptions: [.CanDelete, .CanInsert])
        section.multivaluedTag = "mySection"
        form.addFormSection(section)

        let

[2016-08-04 08:26] dev-vinoth opened #842 "XLForm Delegate Method is Not Working in Custom FloatingCell"
[code]

Note : This is my custom RowType

[code]

This delegate method is not working in Custom row FloatingCell.

Even, not working in this link also
https://github.com/xmartlabs/XLForm/blob/master/Examples/Swift/SwiftExample/CustomRows/CustomRowsViewController.swift

please help me to fix this issue!

[2016-08-06 06:48] xiaoshanlin000 opened #843 "Date & Time bug?"
First select the time cell, and then the whole row to scroll over the title, and then choose other cell, and finally time cell is hidden?

[2016-08-07 06:33] XinwenCheng commented on #838
Hi @mats-claassen , would you please let me know if you have any plan to handle this problem? I need to decide to find other ways if you won't, thanks!

[2016-08-08 04:46] zzyspace opened #844 "How to reload pickerView with inline picker cell?"
The `selectorOptions` data is get from server, so when obtain data for selector, i need to reload pickerView

[2016-08-09 23:52] batnom opened #845 "Customising XLFormRowDescriptorTypeMultipleSelector Pushed View"
Hi all, is it possible to customise the new view that gets pushed when tapping on a `XLFormRowDescriptorTypeMultipleSelector` row?

Row creation:

[code]

[2016-08-11 01:52] Sweeper777 opened #846 "Why can I deselect options using XLFormRowDescriptorTypeSelectorPush?"
Say I have a `XLFormRowDescriptorTypeSelectorPush` form row. By default, Option 1 is selected. Now if I tap on Option 1 in the pushed view controller, Option 1 will be deselected. Why? Few forms have this feature. Selector rows are supposed to let the user choose from options, not "nothing"!

You see, the other types of selectors don't have an option to deselect the selected option. Why `XLFormRow

[2016-08-11 04:33] Sweeper777 opened #847 "How can I properly remove a XLFormRowDescriptorTypeSelectorPickerViewInline form row in its extended state?"
In a section of my form, there is a `XLFormRowDescriptorTypeSelectorSegmentedControl` row. (The options are "A" and "B". Let's call this "above row") The row below will change according to the value of the above row. (Let's call this "below row")

If the above row has the value of "A", the below row is changed to an `XLFormRowDescriptorTypeText` row. If he above row has the value of "B", the below

[2016-08-11 21:33] kinnard-carecloud opened #848 "Pods-XLForm-frameworks.sh missing."
I'm getting this build error and no matter how many times I rebuild or get or re install the pods, it doesn't want to give me the file.

I also can't seem to find anything about this anywhere on Google.

I'm using XLForms version 3.0.2 for the pod installation.

here is the error it gives me in xcode.

PhaseScriptExecution 📦\ Embed\ Pods\ Frameworks /Users/User/Library/Developer/Xcode/DerivedData/

[2016-08-12 17:05] dan-castle-rock opened #849 "XLFormRightImageButton causes crash if deselectFormRow is called on an instance"
XLForm 3.2.0 (Objective-C)
iOS 10, Xcode 8 Beta 5

I have a form with a button of the type XLFormRightImageButton. When the button is tapped, as part of the callback, I am calling deselectFormRow on that instance. In prior versions, this worked. However with version 3.2.0 running on iOS 10, I am getting an unrecognized selector sent to instance exception as XLFormRightImageButton does not have the

[2016-08-12 21:01] kinnard-carecloud commented on #848
ah I had to update CocoaPods. it works now.

[2016-08-12 21:01] #848 closed

[2016-08-14 03:34] JGQuinodoz opened #850 "How to auto-resize a row according to length of contents?"
How can rows like this be set to auto resize when and if the row.value is initialized too long to fit in one line?

![screen shot 2016-08-13 at 11 18 31 pm](https://cloud.githubusercontent.com/assets/14239269/17646978/922c1676-61ac-11e6-8084-019a94be95ee.png)

I am having the same problem with XLFormRowDescriptorTypeText, XLFormRowDescriptorTypeTextView, and XLFormRowDescriptorTypeInfo. I am of co

[2016-08-15 13:14] mats-claassen commented on #838
@XinwenCheng I have this code and nothing strange happens:
[code]

This code will just keep changing the title of the button but never adds a new row.
Are you sure you have no code in a delegate method like `formRowDescriptorValueHasChanged` which adds rows to your form?

Did you try getting the row by tag instead of having a variable? It should not be related to that though.

[2016-08-15 13:22] mats-claassen commented on #846
You can change this by using a custom `XLFormOptionsViewController`.

Maybe we could add a feature to choose if the user can deselect an option or not.

[2016-08-15 13:24] mats-claassen commented on #843
I do not understand your bug?
What is hidden, the time cell or the inline picker of the time cell?

[2016-08-17 14:19] ds1239 opened #851 "How to edit detail labels of push selector"
Hello. I was wondering how I can edit the detail labels of the table view cells in a push selector view. I would like to have them display text in a specific font. Thanks!

[2016-08-18 13:04] snaill opened #852 "XLFormDateCell do not support valueFormatter ??"
Such as the title...

[2016-08-18 16:02] mats-claassen commented on #842
As it is your custom row I do not know where the problem lies but that delegate function is called when the `value` of the rowDescriptor changes. Is your custom cell correctly updating that `value` property?

[2016-08-18 20:09] mats-claassen commented on #841
You can have a look t the Examples. For example in `MultivaluedFormViewController` you find this:
[code]

I think you are lacking the `sectionInsertMode: .Button`

[2016-08-18 20:15] Sweeper777 commented on #841
Okay, thanks.

[2016-08-18 20:17] #841 closed

[2016-08-18 20:20] mats-claassen commented on #844
Hm, I have not tried it but you could override `cellForRowAtIndexPath`, call super, and if it is your picker then call `reloadAllComponents`.

And when your data arrives from the server you call tableView.reloadData()

[2016-08-19 14:04] devloe commented on #840
Anyone?

[2016-08-22 01:36] hevi1991 opened #853 "How to fix the warning?"
Warning once only: Detected a case where constraints ambiguously suggest a height of zero for a tableview cell's content view. We're considering the collapse unintentional and using standard height instead.

[2016-08-23 07:14] AlbertoMrFz commented on #853
@tomtaylor @conradwt @wzph @JonathanTron @hevi1991 ****

[2016-08-24 18:23] mats-claassen commented on #853
Have a look at #494.

[2016-08-24 18:23] #853 closed

[2016-08-24 18:29] mats-claassen commented on #840
You mean to the imageView of the cell?
This should work:
[code]

Or do you mean to the `accessoryView`?

[2016-08-24 18:36] mats-claassen commented on #852
Yes they do. Have a look at the implementation of `XLFormDateCell` at https://github.com/xmartlabs/XLForm/blob/master/XLForm/XL/Cell/XLFormDateCell.m#L159-L186.

[2016-08-25 00:36] smstudio2008 commented on #783
EASY !

- (void)fillEditForm {

    if ([self.Name.displayText isEqualToString:@"John"]) {
        [self.form formRowWithTag:@"FirstNamel"].value =
        [XLFormOptionsObject formOptionsObjectWithValue:self.Name.displayText
                                            displayText:NSLocalizedString(@"Smith", nil)];

    }

}

[2016-08-25 23:05] kaushil111 opened #855 "Restrict the number of characters of a UITextfield"
How do I use to form to restrict the number of characters of a XLFormRowDescriptor?

For example limiting the character length of Pin Code to 5 characters or phone number to 10 characters?

[2016-08-26 21:31] JorgeAGomez commented on #855
Found any solution for this?

I want to make the UITextField to only accept a MAX of 5 characters. I found a way to do it but it only works with Numbers.

[2016-08-28 00:23] halbano opened #856 "Problem setting up the initial state of a Form"
Hi,

I didn't realise how to solve it, I'm a bit confused. I have a view controller that acts as a filter to retrieve data from a server.

I´m creating a multiple selector form like this:

[code]

My idea is to maintain the selected countries in a property (an array) of the view controller and when the user taps apply to the form retrieve the data from the server.
I'm updating the selection array

[2016-08-28 21:01] #856 closed

[2016-08-28 21:02] halbano commented on #856
I've solved my problem using the value attribute of the row descriptor.

[2016-08-30 10:02] wyhazq opened #858 "How to change the cell's UI when request complete?"
I have a button in cell, when i click the button, row.action.formBlock will send a request. I want to change the button's title when the request complete. How can i do it?

[2016-08-30 10:08] wyhazq commented on #858
I have kown it, thanks! self.reloadFormRow().

[2016-08-30 10:08] #858 closed

[2016-08-30 17:40] mats-claassen commented on #850
#742 is an option.
You can also play with the `height` property of `XLFormRowDescriptor`

[2016-08-30 17:46] mats-claassen commented on #847
You will have to remove two rows as the 'inline picker' is another row. And you will probably have to remove the second row first.

Why don't you use the `hidden` property and let XLForm manage the adding and removing of rows?

[2016-08-30 17:49] mats-claassen commented on #845
This is currently not supported. We should add a cellConfig for selector rows in the future.

You could use a custom view controller as `rowDescriptor.action.viewControllerClass` or any other property of `action`.

[2016-08-30 23:03] batnom commented on #845
Not a problem, thanks for your feedback =)

[2016-08-30 23:03] #845 closed

[2016-08-31 13:08] FCorellis commented on #347
did you managed to customize this row man ? Thx

[2016-08-31 13:21] FCorellis commented on #347
@mtnbarreto how can i customize the Add row cell ?

[2016-08-31 18:40] JorgeAGomez opened #859 "keep data in the textfield"
I am building a form for my app. The form has multiple view controllers.  Each view controller has a nagivation toolbar, so when a user fills personal information form (firstViewController), click "next" (UIBarButtonRight) and goes to the nextView Controller (medical information View controller) and here is when I am having a problem. If the user fills the medical View Controller and decides to cl

[2016-09-02 00:57] TaichiAkimoto opened #860 "directly input value into XLFormRowDescriptorTypeSelectorPickerView"
I use xlform to show some data. Especially XLFormRowDescriptorTypeSelectorPickerView.
Every time I show xlform, I input values into rowDescriptor.value directly as one of its options.
And it's working fine.
But, when I click a cell, a value highlighted is different from what I have input.
For example, let's assume there are 3 options {Japan, US, China}, and my direct input is US.
In this case, whe

[2016-09-02 06:17] AlbertoMrFz opened #861 "Take photo change lang"
Hi,
How i can change the language of the optios taht appear whe i click on the XLFormRowDescriptorTypeImage??

[2016-09-02 06:18] #847 closed

[2016-09-02 06:36] AlbertoMrFz opened #862 "size image icon when take it"
hi,
How i can change the size og image mini that appear when i take it from library or my caMERA??

[2016-09-03 08:13] zero0cool0 opened #863 "NSRangeException (NSArray out of bounds) when resizing XLFormViewController"
In my app, XLFormViewController is presented as popup, anchored top right. In landscape mode, the view fits the screen, but is automatically resized to show the keyboard as soon as I tap onto a text field. After that, the app crashes.

`**\* Terminating app due to uncaught exception 'NSRangeException', reason: '**\* -[__NSArrayM objectAtIndex:]: index 4 beyond bounds [0 .. 3]'

**\* First throw ca

[2016-09-05 15:36] choefele commented on #855
You can override `textField(_, shouldChangeCharactersIn, replacementString)` in a subclass of `XLFormViewController` and return `false` if the string exceeds your length requirement. Unfortunately, I haven't yet found a good way to know which row I'm dealing with (I need different lengths for rows)

[2016-09-07 08:28] TaichiAkimoto commented on #860
I could solve this problem by myself, so let me tell you guys!
On a method called -(UIPickerView *)pickerView (in XLFormSelectorCell), you call another method called
[_pickerView selectRow:[self selectedIndex:0] inComponent:0 animated:NO];.
this [self selectedIndex:0] stands for index in options on each component.
So, you can call this method for each component(by changing value of inComponent),
t

[2016-09-07 13:32] #855 closed

[2016-09-07 13:34] mats-claassen commented on #855
You can use `textFieldMaxNumberOfCharacters` property now. This is not yet in the latest release but you can get it pointing to the master branch

[2016-09-07 13:36] mats-claassen commented on #860
Thanks for providing the solution.

[2016-09-07 13:36] #860 closed

[2016-09-07 13:40] mats-claassen commented on #859
When you tap "back" on the second controller, then that view controller will be released and it will be instantiated again when the user taps "next" on the first controller. If you want to keep the data then you will have to store them when you pop your viewController and load it back when you push a new "medical view controller".

[2016-09-07 13:42] mats-claassen commented on #861
Those strings are set with `NSLocalizedString` so you can change them by providing localization files. You should be able to find tutorials for this.

[2016-09-07 13:42] #861 closed

[2016-09-07 13:46] mats-claassen commented on #863
Are you sure this issue has to do with XLForm?
To reproduce this we would need some code example...

[2016-09-07 13:56] mats-claassen commented on #862
You mean the image in the accessoryView of the XLFormImageCell? Try this:
[code]

[2016-09-08 06:42] edwinlin commented on #528
I believe you're looking for the -(NSDictionary *)formValues method.

//push all your key/values
NSDictionary *dict = [self formValues];

//grab value with tags as keys
NSLog(@"%@", dict[@"your-tag"]);

[2016-09-15 12:11] eyalzohar opened #865 "formRowDescriptorValueHasChanged: delegate not working on iOS 10, Swift 3"
XLFormDescriptorDelegate formRowDescriptorValueHasChanged: delegate not working when i run my code on iOS 10 device with Swift 3.
**It's working on iOS 9**, so no changes were made to the code.
Do i need to change the code in order to make it work again ?

Thank you.

[2016-09-15 15:42] mats-claassen commented on #865
Hi I just tried this in the examples (Obj-C) with a `XLFormRowDescriptorTypeBooleanSwitch` and it was called.

In Swift 3 you must change your function to `override func formRowDescriptorValueHasChanged(_ formRow: XLFormRowDescriptor!, oldValue: Any!, newValue: Any!)`. Note that AnyObject has changed to Any.

Seems that Swift 3 translates it differently

[2016-09-15 17:16] eyalzohar commented on #865
That did the trick.
Thank you.

[2016-09-15 17:16] #865 closed

[2016-09-16 07:25] kartikaykeepworks opened #867 "Assertion failure in -[UIPickerTableView _createPreparedCellForGlobalRow:withIndexPath:willDisplay:]"
I have created a form with fields DateAndTimePicker and UITextView. When I tap on the DatePickerView, then tap on textView and then tap again on datePickerView, the app crashes with error:
**Assertion failure in -[UIPickerTableView _createPreparedCellForGlobalRow:withIndexPath:willDisplay:]**

Can anyone please help me out with this?

[2016-09-21 22:57] samjarman commented on #693
Ha. I just hit this too. Thanks @rogerluan. Gosh darn iOS 7 changes!

[2016-09-22 07:06] skarctop opened #868 "valuedata and displaytext is nil"
[code]
why this  XLFormOptionsObject valuedata and displaytext is nill
[code]

[2016-09-22 09:10] skarctop commented on #193
i want to reset all values

      [self.tableView reloadData];

but this not useful

[2016-09-22 09:11] skarctop opened #869 "How to reset form all values"
How to reset form all values

[2016-09-22 09:11] #868 closed

[2016-09-22 22:09] fletz opened #870 "Strange behaviour with subclass of XLFormViewController, which creates CoreData object in viewDidLoad"
Hello,
I have a class, which extends XLFormViewController. The instance is loaded via Storyboard. I do implement initWithNibName and initWithCoder as described in the documentation. I use one common initializeForm to load all the data. All of that works just fine.

But I do have a instance variable (property, nonatomic, strong), which is a class that extends NSManagedObject. I do create a new enti

[2016-09-23 17:04] BigSauce commented on #431
Same thing happens to me.  My tag contains a space, and it crashes.  My tag is `@"constant switch"`.  Once I removed the space, it no longer crashed.

[2016-09-25 12:05] psarakism opened #871 "Is possible to set custom NSDateFormatter in XLFormRowDescriptorTypeDateTimeInline"
Hello , i try to set custom DateFormatter  in XLFormRowDescriptorTypeDateTimeInline.. reading a previous issue but the app crash with log
''this class is not key value coding-compliant for the key dateFormatter.''

[row.cellConfigAtConfigure setObject:dateformatter forKey:@"dateFormatter"];

Is possible to set custom NSDateFormatter ?

[2016-09-27 11:16] ankurt-optimus opened #872 "Dynamic cell height using autolayout"
Hello,

i want my cells to resize dynamically based on the content size. In my formDescriptorCellHeightForRowDescriptor, i am returning UITableViewAutomaticDimension. But i always end up getting a constant height used for most cells and not the dynamic height which i want.

+(CGFloat)formDescriptorCellHeightForRowDescriptor:(XLFormRowDescriptor *)rowDescriptor
{
    return UITableViewAutomaticDime

[2016-09-27 13:06] #872 closed

[2016-09-27 14:54] zinyakov commented on #452
This fix does not help fully. If I have set value to, e.g., "12,34" it is converting to "12.34" after I get out of this field. Using NSNumberFormatter helps to avoid this transformation, however It can't help me with changing this value to dot-format after I select this field again. Is it a good idea to implement a default NSNumberFormatter inside decimal row?

[2016-09-27 15:12] sedwo opened #873 "Multiple methods named 'count'"
[code]

What should ```count``` be cast us?

[2016-09-27 15:33] zinyakov commented on #452
The smoothest solution is to use 2 number formatters - one in form row and one as extension for NSNumber, which helps to call `displayText` method with formatted value, avoiding glitches of NSNumberFormatter with `useValueFormatterDuringInput` flag

[code]

[2016-09-28 08:28] BigSauce opened #874 "Options view controller should refresh/reload when changing value of corresponding multi-selector row."
I have code that changes the value of the `XLFormRowDescriptorTypeMultipleSelector` row, and I need XLForm to update the table view of the options view controller when I change the value after it is already presented.

Is this possible?

Really enjoy using this framework.  Thanks for everything.

[2016-09-30 10:50] perroyverde opened #875 "Is it possible to show title and input in two different lines?"
I wonder if this can be done with "XLFormRowDescriptorTypeText". I've only achieved this effect with "XLFormRowDescriptorTypeDate" and "row.cellStyle = UITableViewCellStyleSubtitle".

![captura de pantalla 2016-09-30 a las 12 47 17](https://cloud.githubusercontent.com/assets/22542161/18989488/937a0012-870c-11e6-9daf-d8808184437c.png)

[2016-09-30 13:26] fletz opened #876 "Enabling use_frameworks! in an Obj-C project results in a lot of warnings and compiler errors"
Hello,
One of the pods I would like to use needs me to use use_frameworks!, but when I do so I get a compilation error for each .h file in XLForms.

[2016-10-02 21:31] BigSauce opened #877 "Request: ability to modify sectionOptions outside of initializer"
I have a section that doesn't always make sense to show the drag-to-reorder handles, so I would like to allow my users to toggle drag-to-reorder mode on that section through a button I provide.

My issue with the current version of XLForm is that it doesn't not support modifying the sectionOptions of a section after it has been created, so I have to remove and re-add the newly configured section,

[2016-10-04 10:08] maheshlalu commented on #766
![simulator screen shot 04-oct-2016 3 35 23 pm](https://cloud.githubusercontent.com/assets/18379397/19070348/6c2ed1d8-8a48-11e6-9450-97e6b88f9d8f.png)
I want To remove the space between particular section how can i do . please help me

[2016-10-05 09:58] riccardo-destefani commented on #613
I have the same issue as @afsalme.
XCode 8.0 and base sdk 9.0
It's not a 'http' problem, because i hardcoded some data, i'm not loading via http.
When i open popover and i select an item it's all right, but when i open popover, search for an object and then i select an item of the list, popover stay on screen.
in UsersTableViewController.h, didSelectRowAtIndexPath method i have this code, as in @m

[2016-10-06 03:43] fans3210 opened #878 "How to on/off a uiswitch with animation when we change the value programatically?"
I want a uiswitch to be set on/off with animation after a network request is done. I tried to use 'reloadformrow' but there is no switching animation.

[2016-10-06 04:35] fans3210 opened #879 "How to play custom animation inside a cell when the row value changed?"
Eg: to animate a uiswitch on/off when the row value changed.

Currently I cannot access the cell in the viewcontroller. The only way I can get the cell instance is in 'updateformrow' method. However, when I want to call the method of my customized cell to on/off the uiswitch with animation, the result is not what I want. The switch did on/off but without any animation

[2016-10-06 04:35] fans3210 commented on #879
Here is my code:
//    SomeCell *cell = (SomeCell *)[self updateFormRow:row];
//    [cell testAnimateSwitchOn];

[2016-10-06 05:54] fans3210 opened #880 "cellConfig not working in async methods"
In my project, Instead of putting the xlformdescriptor logics in viewcontrller, I put the xlformdescriptor in a presenter which is a subclass of nsobject. So I cannot call reloadFormRow without my custom delegates.

So if I want to update the UI of a custom cell, I use 'cellConfig' in my presenter and everything is fine. The problem comes when I put the 'cellConfig' logics in an async method.

Eg:

[2016-10-06 13:01] mats-claassen commented on #766
It should really work with `- (CGFloat)tableView:(UITableView *)tableView heightForHeaderInSection:(NSInteger)section` and `- (CGFloat)tableView:(UITableView *)tableView heightForFooterInSection:(NSInteger)section`.  Did you try that?
You must just not return 0 but something like 0.1 and if you want it just for one section then you have to check that `section` is your section.

[2016-10-07 20:38] murilo-campaner opened #881 "How to add "Submit button" in form?"
Hello everyone,

I need to add a "submit" button like this one in my form:
http://codepen.io/zabielski/full/qOXKXR/

Anyone know how I can do it?

Thanks!

[2016-10-08 14:06] sumowesley commented on #653
I have just started to get the same warning in a new project I have started.

[2016-10-08 21:43] sumowesley commented on #653
Interesting that after a few hours of working on the project, the warning has gone. Is this an Xcode 8 thing and/or related to user_frameworks! in my Podfile?

[2016-10-09 14:33] sumowesley commented on #653
I've added a few more additional Pods and the warning is back again.

[2016-10-11 11:24] kiancheong commented on #846
There's already a check on rowDescriptor's required value, setting it to true will prevent the value from being set to nil. I've made additional changes to prevent the checkmark from being removed.

[https://github.com/xmartlabs/XLForm/pull/882](url)

[2016-10-12 19:18] mats-claassen commented on #867
I cannot reproduce this issue but I found there are some possible fixes mentioned on StackOverflow like [here](http://stackoverflow.com/questions/19155082/assertion-failure-in-uipickertableview-createpreparedcellforglobalrowwithind).

As I cannot reproduce it I do not know if a possible fix actually fixes it. If some of that solutions works for you then great

[2016-10-12 19:23] mats-claassen commented on #869
There is currently no such method in XLForm. You would have to do it manually

[2016-10-12 22:30] dvkch opened #884 "Inline countdown is not using the right type of value"
Hi, after a lot of debugging in my app I realised that a countdown cell doesn't use the right value, it sets/gets the `date` value of the `datePicker` instead of `countDownDuration`. The issue is `date` depends on the current user timezone, and a value of `date` saved when the user is in timezone A is not valid anymore when the user switches to timezone B.

Two fixes are possible :
- fixing the ti

[2016-10-12 23:15] cerupcat commented on #140
I'm seeing this happen still. Can anyone else confirm?

[2016-10-13 13:58] mats-claassen commented on #625
Have a look at #883

[2016-10-13 13:58] #625 closed

[2016-10-14 06:42] bianxu opened #885 "row Chinese cannot be left aligned"
rowType：XLFormRowDescriptorTypeText with XLFormRowDescriptorTypeSelectorPickerView， When using Chinese cannot be left aligned
![c071125f-1aa1-4bda-964e-45feb937d65b](https://cloud.githubusercontent.com/assets/13793820/19377920/539649b8-921c-11e6-8093-c8d42de084e9.png)

[2016-10-14 07:20] fabidona opened #886 "Custom Section Header"
Hi!
I would like to customize the section header view with a custom view which subclass UITableHeaderFooterView but in viewForHeaderInSection the dequeueReusableHeaderFooterWithIdentifier method return nil.

In my XLFormViewController subclass:

`- (void)initializeForm {
    //REGISTER CLASS FOR CUSTOM SECTION HEADER VIEW
    [self.tableView registerClass:[PromoFormTopHeader class] forHeaderFooter

[2016-10-14 17:43] chrisballinger opened #887 "Obj-C Type Annotations for NSArray/NSDictionary/etc"
Not sure if this is a duplicate issue, but I couldn't find any existing issues or PRs.

To make Swift compatibility smoother (and nicer for Obj-C as well), it would be beneficial to annotate the types. For instance: https://github.com/xmartlabs/XLForm/blob/master/XLForm/XL/Descriptors/XLFormDescriptor.h#L52

[code]

If there is a possibility of these changes being merged, I'd help by annotating so

[2016-10-18 12:52] mats-claassen commented on #879
If you use `XLFormSwitchCell` then the switch will be set to `on` or `off` in theupdate method and you cannot animate that. You can [create a custom row](https://github.com/xmartlabs/XLForm#how-to-create-a-custom-row) to do it animated.

You might also try with the `onChangeBlock` which is called when the value of the row changes.

[2016-10-18 13:15] mats-claassen commented on #870
`XLFormViewController` should not be modifying your variable unless you are overriding a variable from its superclass.

Are you properly calling the super methods?

[2016-10-18 13:44] mats-claassen commented on #871
There is no `dateFormatter` property in that cell. What you have to do is use a NSValueTranformer like:
`row.valueTransformer = MyValueTransformer`

In the examples there is a `DateValueTransformer` doing this.

[2016-10-18 18:53] mats-claassen commented on #873
For rows of type `XLFormRowDescriptorTypeMultipleSelector` or `XLFormRowDescriptorTypeMultipleSelectorPopover`, the value of the `rowDescriptor` is a NSArray so that count is a NSUInteger.

[2016-10-18 19:04] mats-claassen commented on #887
Yeah, if you want you can submit a Pull Request with some annotations

[2016-10-18 19:06] #846 closed

[2016-10-18 19:09] mats-claassen commented on #875
`XLFormRowDescriptorTypeText` uses layout constraints which fix the textfield to the right side of the cell and cannot be moved below the title. You would have to create your custom row for that.

[2016-10-18 19:21] mats-claassen commented on #878
duplicated by #879

[2016-10-18 19:21] #878 closed

[2016-10-18 19:26] mats-claassen commented on #880
You should not update UI elements outside of the main thread. So if you want to execute some code asynchronously make sure you dispatch the code that updates the cell back to main thread. This is something related to UIKit, not XLForm

[2016-10-19 15:11] mats-claassen commented on #884
I would prefer to go with the first option of fixing the timezone to GMT. It would be nice if you could create that PR

[2016-10-19 16:03] riccardo-destefani commented on #543
Hi shekbagg,
i solved passing a dictionary to the view controller setting it to row.value.
This dictionary contains
- your dictionary to present
- dictionary or object that is the true selected value of the view controller

When view controller load, it reads data from row.value and get
- data to present from dictionary
- previous selected value (first time it is nil or empty...)

[2016-10-20 17:31] mats-claassen commented on #881
I would normally do this providing a view as the footer of a section.
XLForm does not provide a way to do this but as it uses a simple `UITableView` you can use its datasource and delegate methods to display a view as the footer of that section.

[2016-10-20 17:42] mats-claassen commented on #140
How is your row set up? It cannot reproduce it in the examples

[2016-10-20 17:48] mats-claassen commented on #886
That is the right pattern as XLForm does not provide another way to do this.

[2016-10-20 17:53] mats-claassen commented on #885
Which are the margins and separatorInsets of those cells? I believe the issue lays with that

[2016-10-20 17:54] #837 closed

[2016-10-20 17:57] #843 closed

[2016-10-20 17:57] #844 closed

[2016-10-20 17:58] #852 closed

[2016-10-20 17:59] #859 closed

[2016-10-20 18:00] mats-claassen commented on #862
Did that work for you?

[2016-10-20 18:06] mats-claassen commented on #849
What do you mean by that?
XLFormRightImageButton is not a type of row...

[2016-10-20 18:09] mats-claassen commented on #838
@XinwenCheng did you find the issue?

[2016-10-20 18:14] mats-claassen commented on #842
Hey @dev-vinoth could you fix this?

[2016-10-20 18:15] mats-claassen commented on #840
@devloe Can we close this?

[2016-10-20 18:17] mats-claassen commented on #834
If such a problem arises you would probably have to run `pod repo update` before `pod install`

[2016-10-20 18:17] #834 closed

[2016-10-20 18:21] mats-claassen commented on #828
Sorry for the late answer.
You can obviously set the title for each row in English.
For Date pickers you will have to set an english locale.
You cannot change the language of the keyboard, only the user can change it. Therefore user input will be in chinese if the user has that locale set.

Is there another case I am forgetting?

[2016-10-20 18:21] #827 closed

[2016-10-20 18:24] dan-castle-rock commented on #849
Let me see if I give some context:

I have a class called CRFormTextFieldWithButton which inherits from XLFormBaseCell. That class has a UIButton and a UITextField.

When using that cell in a form, I am doing the following:

            UITableViewCell *cell = [row cellForFormController:self] ;
            CRFormTextFieldWithButton *buttonCell = (CRFormTextFieldWithButton *)cell ;
            [but

[2016-10-20 18:26] mats-claassen commented on #826
@carlhunterroach could you find a solution for this?

[2016-10-20 18:40] cerupcat commented on #140
I ended up being an issue with font size. I had set a custom font to a size that caused this (I think it was 24px+). Lowering the size fixed it. Unfortunately, I didn't have the time to come up with a proper solution other than that.

[2016-10-20 22:42] XinwenCheng commented on #838
Hi @mats-claassen , sorry I have no time to work on that project recently, you can close this issue if you need, and I will change my code by your solution and check it later, thanks again!

[2016-10-21 01:24] JIAZoro opened #888 "Creat city pickView"
My English maybe very bad.sorry!
How to creat a city pickView like date pickView?
and when pop the city-pickView ,the selected cell not be shield.
thank you!

[2016-10-21 12:04] mats-claassen commented on #140
As you say that I remember to have seen this happening with a custom font.
So in my opinion this is related to the fonts or UITextField but not really a XLForm issue. Do you agree?

[2016-10-21 12:04] #838 closed

[2016-10-21 12:17] mats-claassen commented on #849
Yes, it seems that sender is the button and not the cell.
But I think this must be related to your code as I suppose you are setting the action to the button inside `setButtonTitle:andAction:forTarget`.

`XLFormRightImageButton` is just a simple UIButton with custom `intrinsicContentSize` and it was not touched since version 2.2 as you can see in this repository.

If you are setting that action to

[2016-10-21 12:47] mats-claassen commented on #888
Have you tried using the picker view or inline picker view rows? (`XLFormRowDescriptorTypeSelectorPickerView, XLFormRowDescriptorTypePicker or XLFormRowDescriptorTypeSelectorPickerViewInline`)

You can see them in the selector section of the examples.

[2016-10-21 20:23] #840 closed

[2016-10-21 22:33] olegshevt opened #889 "AXRatingView/AXRatingView.h file not found"
Hi!
When I install using cocoapods its gives me few errors:
1) AXRatingView/AXRatingView.h file not found
2) Failed to import bridging header '/Users/oleg/Desktop/WORK/SwiftExample/SwiftExample-Bridging-Header.h'

Can you help me, please

[2016-10-22 03:47] cerupcat commented on #140
Yeah, I'm not sure what causes this. It may be more related to custom font size. Either way, it's probably uncommon so it's fine to be closed.

[2016-10-22 16:44] markGilchristBookingBug opened #890 "Application Crash when calling addFormSection()"
I am getting a crash when calling addFormSection(aSection)

here is the stacktrace

0   CoreFoundation                      0x000000010cc8b34b __exceptionPreprocess + 171
	1   libobjc.A.dylib                     0x000000010c6ec21e objc_exception_throw + 48
	2   CoreFoundation                      0x000000010ccfaf34 -[NSObject(NSObject) doesNotRecognizeSelector:] + 132
	3   CoreFoundation

[2016-10-24 07:28] ablexie commented on #828
Thank you for your answer.

[2016-10-24 15:00] #140 closed

[2016-10-24 15:01] #828 closed

[2016-10-24 15:06] mats-claassen commented on #890
That is strange. Your code works for me. The issue must be elsewhere. Are you sure it comes from that line?

[2016-10-24 20:56] markGilchristBookingBug commented on #890
@mats-claassen  yes I am sure it is that line, what makes it even stranger is that this doesn't happen for 4 other projects using xlform! I am lost as to why this could happen

[2016-10-25 02:35] fans3210 commented on #880
@mats-claassen Thanks. I've also tried to put the update method in main queue using dispatch_get_main_queue() but still with no luck. I've to use a delegate to call the viewcontroller's 'reloadformrow' method to make the cell updated.

[2016-10-26 04:15] snaill commented on #852
use rowType not valueFormatter！
I need use custom valueFormatter to make my date string，not some predefined style date string.

[2016-10-26 07:18] AgentFeeble opened #891 "App Rejected Due to Missing NSPhotoLibraryUsageDescription"
I had an app using this library get rejected for a missing `NSPhotoLibraryUsageDescription` when submitting with Xcode 8. I think it's due to the use of `UIImagePickerController` in `XLFormImageCell`.

My app doesn't use this cell or access the user's photo library in any way, so I'd prefer to not have to set a fake usage description. Is there any way to conditionally not compile this class, or cr

[2016-10-26 13:58] mats-claassen commented on #852
You can have a look at the examples. There is a custom DateValueTransformer. Maybe that helps you.

[2016-10-26 14:02] mats-claassen commented on #891
We have had this issue with [Eureka](https://github.com/xmartlabs/Eureka) as well. What we did there was to remove the row type that included the `UIImagePickerController` and leave it as a separate pod.
That might be the best way to solve this problem if somebody wants to implement a pod including just the `XLFormImageCell`.

[2016-10-27 12:42] marinofaggiana opened #892 "Picker Font"
Hi !
It's possible change type font on picker view ?

Thanks

[2016-10-27 13:35] mats-claassen commented on #892
For which type of row do you want to do that? Normally this is done using `cellConfig` or `cellConfigAtConfigure`.
You currently cannot for XLFormRowDescriptorTypeSelectorPickerView as a UIPickerView has no font attribute. You would have to override `pickerView:titleForRow:forComponent:` in that cell.

[2016-10-28 14:34] dariopellegrini commented on #862
It worked well for me! What about the content mode?

[2016-10-28 17:05] szgeri opened #893 "Dynamic selector offscreen element selection"
In the example program, go to dynamic selectors, tap User, and type "Otto". When you tap Otto, the line turns gray but he cant be selected.

[2016-10-31 12:49] mats-claassen commented on #862
Did you try setting `row.cellConfigAtConfigure["accessoryView.contentMode"]`?

[2016-10-31 12:50] #842 closed

[2016-10-31 13:03] mats-claassen commented on #893
Yeah it seems selecting a user when searching does not work in that example code.

[2016-11-01 05:24] dev-vinoth commented on #842
Sorry for the delay, I have fixed the issue just include the below code in shouldChangeCharactersInRange.
@mats-claassen

func textField(textField: UITextField, shouldChangeCharactersInRange range: NSRange, replacementString string: String) -> Bool {

        if floatLabeledTextField == textField {
            if let rowDescriptor = rowDescriptor, let text = self.floatLabeledTextField.text {

[2016-11-02 09:59] ivanyang1984 opened #894 "Can I add reuseIdentifier for the cell that use the same type?"
because i found  if there were two many cell in a form ,might be 2-3 pages 10rows/page, the page sometimes lag.

[2016-11-03 14:33] #884 closed

[2016-11-04 06:29] RishabhTayal commented on #252
Having this issue.

[2016-11-07 15:20] mobilestar0223 opened #896 "Hide Cell"
Hello
Thanks for providing great library. It's very useful for me.
But I have one problem.
I tried to remove one cell when select value in inline picker cell.
So I implement like this:
[code]
First time, condition become true and cell is hidden.
After that, condition become false and cell should show again. But it doesn't work.
I don't know this is bug or not.
Thanks.

[2016-11-08 13:24] mats-claassen commented on #896
I don't know what is happening to you but this is not a bug. For example this code works as expected:
[code]

[2016-11-11 07:41] glary opened #897 "Memory Leak"
I found XLForm the framework of the Cell will not invoke dealloc this method

[2016-11-11 07:56] #897 closed

[2016-11-14 16:58] gristoi opened #898 "attaching to the change event of the slider component"
HI, Love the framework, great job. I am however having one issue, i am using the slider component, between 0 and 100 and am trying to work out how to hook into the change event of the slider and get the value so that i can update the label in real time with the current value.

any pointers?

[2016-11-15 04:27] RpX974 commented on #574
It's "self.tintColor" =)

[2016-11-15 13:50] mats-claassen commented on #574
When the row gets highlighted then the tintColor is set to the label so you might want to change the tintColor of the cell to achieve that as @RpX974 mentioned

[2016-11-15 13:50] #574 closed

[2016-11-15 13:51] mats-claassen commented on #898
Did you try using the `onChangeBlock` on your `rowDescriptor`? That closure is called when the value of the row changes

[2016-11-17 06:45] mythodeia commented on #653
any news on this?

[2016-11-17 09:43] fabidona opened #899 "Locale not recognized for NSDecimalNumber conversion"
When editing a cell with rowType **XLFormRowDescriptorTypeDecimal** the comma separator, for locales having decimal separator as comma (,) like Euro, is not recognized in NSDecimalNumber conversion from text input. I follow the NSFormatter example for Currency and custom class CurrencyFormatter.

`
row = [XLFormRowDescriptor formRowDescriptorWithTag:kValidationPriceStandard rowType:XLFormRowDescri

[2016-11-17 13:18] mats-claassen commented on #899
That has been merged to master branch in #810

We should get out a new release with the latest fixes.

[2016-11-17 14:22] fabidona commented on #899
ok thanks!

[2016-11-17 14:42] #899 closed

[2016-11-18 08:29] riccardo-destefani commented on #833
Sorry @mats-claassen, can you explain me the way to add a button to that row?
Thanks

[2016-11-18 12:53] mats-claassen commented on #833
@riccardo-destefani I did not mean adding a button *to that row*. I was thinking of adding a simple UIButton in the header or footer of the section. You can do this using the delegates provided by UIKit for the tableView (`-(UIView *)tableView:(UITableView *)tableView viewForFooterInSection:(NSInteger)section`).

If you want to add it to the row itself, I guess you will have to subclass it or crea

[2016-11-18 12:53] #833 closed

[2016-11-18 13:34] riccardo-destefani commented on #833
Can you give me a hint?
I'd like to add to XLFormRowDescriptorTypeDate a button next to current selected date row value to set rowValue = nil when it is pressed.
What class do i have to subclass? XLFormBaseCell? or directly XLFormDateCell?
How do i add button? in configure method?

Thank you for support

[2016-11-19 01:46] CaliosD commented on #833
@riccardo-destefani  I didn't subclass any class. As @mats-claassen said above, I just add a clear button in the row class I need. Here's some of the code I added in `XLFormDateCell`. Hope it helps. :]

[code]

[2016-11-24 11:07] riccardo-destefani commented on #833
Thank you @CaliosD for code, but you are directly modifying library, and this is dangerous, because when i update libraries from pod your code is lost.
I think the best way to achive our goal is to subclass XLFormDateCell, and there write your code.

I tried this approach, clear button is shown, but when i tap on row value (the date) no date picker is shown.

Can @mats-claassen clear my ideas?

Th

[2016-11-24 12:52] mats-claassen commented on #833
@riccardo-destefani You can implement it somewhat like this if you want the button as the accessoryView of the row:
[code]

And to use it:
[code]

In my opinion it does not look good as accessoryView as the row is too packed. I would put it somewhere else like the section's header or footer.

[2016-11-24 13:22] riccardo-destefani commented on #833
Thank you, it work like a charm!
The key point is was:    row.cellClass = MyDateInline.self

Thanks

[2016-11-30 16:25] barb92 opened #900 "Cell disappears while picker is open"
This bug is reproduced in your Examples project, Date & Time.

Select Date Time from section Inline Dates (new row with picker will be added), then scroll so row Date Time is not visible any more but row with the picker is (image [before]), and then click on Date from section Dates.
Date Time row has disappeared.  (image [after])

![after](https://cloud.githubusercontent.com/assets/13140761/207597

[2016-12-01 04:01] JerryWang761208 commented on #73
Instead of using row.cellConfigAtConfigure...
I try to use the following, and it works.
[code]

[2016-12-01 09:11] vburojevic commented on #900
This happens to me as well. I tried to track the bug in code but unsuccessfully.
@mats-claassen any ideas? If you have any idea on why this happens I'l gladly look into it more thoroughly and try to solve it.

[2016-12-01 12:39] wisesabre commented on #492
Its simple and straight forward to perform action in case of 1 button. In case of 2 buttons, should we use 'leftRightSelectorLeftOptionSelected' ?

We can use 'leftRightSelectorLeftOptionSelected' to set another 'XLFormRowDescriptor' and then use it to perform action. But it seems to be hacky, what is the suggested way?

`
-(void)rightButtonPressed:(UIButton *)rightButton
{
    NSLog(@"DiD select

[2016-12-02 14:10] mats-claassen commented on #900
I can confirm that I see this bug happening in the examples.
I did realize that in this case XLForm is calling `resignFirstResponder` twice for the open inline date row. So it is twice removing the inline date picker. The issue might be there but currently I have no time to look into it.

[2016-12-03 09:21] tospery opened #901 "How can i change this color?"
![image](https://cloud.githubusercontent.com/assets/3716286/20858253/b42a9afe-b97c-11e6-8d20-2683adee9d21.png)
![snip20161203_1](https://cloud.githubusercontent.com/assets/3716286/20858256/c8c33d68-b97c-11e6-824b-f4da6ffbdad9.png)
Can't use appearance to change.

[2016-12-04 11:30] carlhunterroach opened #902 "Pre-populating a XLFormRowDescriptorTypeSelectorPush row"
I have some XLFormRowDescriptorTypeSelectorPush which I populate with a list of countries and another with a list of nationalities.

How would I go about creating a Swift custom cell that is basically a XLFormRowDescriptorTypeSelectorPush cell but pre-populated with my selectionOptions ?

[2016-12-04 12:22] carlhunterroach commented on #902
The Swift examples for custom cells are very helpful.

There was just one line that is out dated:

In AppDelegate's application:didFinishLaunchingWithOptions() one sets the class, not by a string, but by specifying Class.self

    XLFormViewController.cellClassesForRowDescriptorTypes()[XLFormRowDescriptorTypeNationality] = XLFormNationalityCell.self

[2016-12-04 12:22] #902 closed

[2016-12-04 12:57] carlhunterroach opened #903 "How can I populate a Selector list?"
I have:

    class XLFormNationalityCell : XLFormSelectorCell { …

In config() the `rowDescriptor` is nil.

How can I setup this cell with some selectorOptions on creation?

[2016-12-04 14:51] carlhunterroach commented on #903
Selectors can be set *after* the cell has been created by XLFormRowDescriptor()

[2016-12-04 14:51] #903 closed

[2016-12-05 13:38] demoker opened #904 "About customHeaderView open section and close section"
![img_1184](https://cloud.githubusercontent.com/assets/10993817/20886671/29c6d370-bb32-11e6-9a84-0bd74662996b.PNG)
![img_1185](https://cloud.githubusercontent.com/assets/10993817/20886672/2a630a7e-bb32-11e6-8af4-fe07124951f4.PNG)
Hi,I use XLForm to work for my project,but here has some problem about customHeaderView open or close section. First, I let "tableView:numberOfRowsInSection:" return 0,ne

[2016-12-05 17:03] Connor-Chappell commented on #886
Has anyone found a solution to this? I am running into the same problem with the view being nil.

[2016-12-06 04:14] aimchina opened #905 "row cannot be left aligned？？how can i do？"
` row = [XLFormRowDescriptor formRowDescriptorWithTag:kName rowType:XLFormRowDescriptorTypeText
                                                  title:@"合同名称"];
    [row.cellConfigAtConfigure setObject:@"输入合同名称" forKey:@"textField.placeholder"];
    row.value = self.editVCArr[0];

    row.required = YES; // 默认初始化行
    [section addFormRow:row];
i
![notalign](https://cloud.githubusercontent.com/ass

[2016-12-06 13:29] mats-claassen commented on #901
The color of that button should be `view.tintColor`. You can try setting that.

[2016-12-06 13:32] mats-claassen commented on #905
Same as #885

[2016-12-06 13:32] #905 closed

[2016-12-06 14:21] AsKaeternam opened #906 "Multivalued section set required"
Hello dear,

is it possible to set required a multivalued section ?

For example, I have a form (SaleOrder) which contains multivalued section for (SaleOrderLine).

How can I set a validator on the section to have at least one line ?

Best regards

[2016-12-06 15:39] aimchina commented on #885
how can  I do？still not align。

[2016-12-06 15:40] aimchina commented on #885
iphone 6 plus， still not align。

[2016-12-07 08:41] Jeff-F opened #907 "CountDownTimer row set default select time is wrong."
// CountDownTimer

       ` row = [XLFormRowDescriptor formRowDescriptorWithTag:kCountDownTimerInline rowType:XLFormRowDescriptorTypeCountDownTimerInline title:@"Countdown Timer"];
        NSDateComponents * dateComp = [NSDateComponents new];
        dateComp.hour = 0;
        dateComp.minute = 7;
        dateComp.timeZone = [NSTimeZone systemTimeZone];
        NSCalendar * calendar = [[NSCalendar

[2016-12-07 17:31] dariopellegrini commented on #862
Unfortunately the app crashes with that.

[2016-12-12 09:44] ngoctr opened #908 "[Feature Request] Search for XLFormRowDescriptorTypeSelector"
It would be better if there is an option to have a built-in search bar for quickly selecting an option for the long option list.

[2016-12-12 13:02] mats-claassen commented on #904
Are you correctly setting the height of the header view in `tableView(_:heightForHeaderInSection:)`?

[2016-12-12 13:06] mats-claassen commented on #885
Have you set a different `separatorInset` or `layoutMargins`?

[2016-12-13 05:34] demoker commented on #904
Yes,the height of header is fixed (60.0).Now,I overwriting the method of keyword showing and hidden,then  no problem.

[2016-12-14 07:51] demoker commented on #904
I use [the third SDK ()](https://github.com/molon/MLInputDodger.git) to deal the problem,and cancel the keyboard showing or hidden method of XLForm .This is my repair method.After opening section and the TextField become first responser,then the location of cell is changed.So , I think the reason in  keyword oberver.

[2016-12-14 12:13] mats-claassen commented on #862
@dariopellegrini This code works for the image row in the examples. Note the `.rawValue`:
[code]

[2016-12-14 12:16] mats-claassen commented on #904
I would need some code to reproduce this to find the issue. If your workaround fixes it we can leave it as it is until someone else requests a fix.

[2016-12-14 17:41] dariopellegrini commented on #862
I forgot .rawValue at the end. Don't ask me why. Thanks, it's solved!

[2016-12-15 01:40] demoker commented on #904
LBBSClientAuctionSetViewController : subClass of XLFormViewController
`- (void)keyboardWillShow:(NSNotification *)notification
{
    DDLogDebug(@"LBBSClientAuctionSetViewController keyboardWillShow:");
}

- (void)keyboardWillHide:(NSNotification *)notification
{
    DDLogDebug(@"LBBSClientAuctionSetViewController keyboardWillHide:");
}`

In fact, be cancelled XLForm the keyboard event monitoring,

[2016-12-15 15:23] TheRealDarklord opened #909 "setting autocorrectionType of cells"
Hi, I just tried to change the autocorrectionType-Property of a cell because I'm not satisfied with the default one. But it seems that this property cannot be set with the cellConfig-property of the rowDescriptor.

`[row.cellConfig setValue:@(UITextAutocorrectionTypeNo) forKey:@"textField.autocorrectionType"];`

row is, of course, an instance of XLFormRowDescriptor. But it fails with the following

[2016-12-16 00:19] #649 closed

[2016-12-16 09:10] Rosenkreuz opened #910 "How to limit the characters?"
My App crashes when i add this code.

[code]

[2016-12-16 09:26] #910 closed

[2016-12-16 14:54] mats-claassen commented on #907
As far as I can tell this is an issue with NSDate and NSDateComponents. Try logging the date created from those components and you will see it is not correct. Setting the `year` helps but NSDate will still correct the date to your timezone.

[2016-12-16 21:39] mark5422 opened #911 "Changing the value in a row programatically"
I've been trying to change the value of an XLForm row programatically after I load some data from an API call. The form is on screen so needs to be reloaded as its visible.

I've tried setting a new options object. Forcing a call to say that the values have changes. Reloading the table view and nothing is working. I've also tried to change the value like this.

```[(XLFormRowDescriptor *)self.form

[2016-12-19 09:07] convitza commented on #850
@mats-claassen Hi, I would like to ask whether there was a way to update a specific row height programmatically after the form is already generated? (In this case, I don't want to re-load the whole form).
Looking forward to hearing from you.
Thanks

[2016-12-19 10:51] AsKaeternam opened #912 "Call ValueHasChanged when delete a row in MultiValued section"
Hello dear,

When I delete a Row in MultiValued section with

-(void)tableView:(UITableView *)tableView commitEditingStyle:(UITableViewCellEditingStyle)editingStyle forRowAtIndexPath:(NSIndexPath *)indexPath{
}

The formRowDescriptorValueHasChanged delegate isn't called.

Is it a bug or did I miss something ?

Best regards

Edit : The workaround is to set the rowDescriptor.value to nil before comm

[2016-12-20 01:44] #904 closed

[2016-12-20 06:17] hackjie opened #913 "set font for row not work"
XLFormRowDescriptorTypeSelectorSegmentedControl

[row.cellConfigAtConfigure setObject:[UIFont systemFontOfSize:15] forKey:@"_textLabel.font"];

but still not work

[2016-12-20 13:29] #862 closed

[2016-12-20 13:34] mats-claassen commented on #850
If you have a row that works with Autolayout constraints then you could try setting `UITableViewAutomaticDimension` to the `height` property of XLFormRowDescriptor.

[2016-12-21 08:39] #912 closed

[2016-12-23 08:34] pengyan5945 opened #914 "The keyboard does not appear in ios10.2(14C89)"
XCODE Version 8.2.1 (8C1002)
ios10.2(14C89)

[2016-12-23 12:36] mats-claassen commented on #908
Have you had a look at the examples under 'Selectors -> Dynamic Selectors'?
It is implemented in `UsersTableViewController`

[2016-12-23 12:50] mats-claassen commented on #909
Your syntax is correct. It seems that UITextField is not key value coding-compliant for `autocorrectionType`.

So what you can do is follow #761 although that is a los of code to change an autocorrectionType :).

[2016-12-23 17:06] #914 closed

[2016-12-23 17:09] pengyan5945 commented on #914
If you are using an emulator, turn off the operating system keyboard。

[2016-12-23 17:10] pengyan5945 commented on #914
Hardware->keyboard-> uncheck all

[2016-12-23 17:19] mats-claassen commented on #913
Try with `[row.cellConfig setObject:[UIFont systemFontOfSize:36] forKey:@"textLabel.font"];`

Fonts should be set with `cellConfig` and not `cellConfigAtConfigure`

[2016-12-26 04:55] pengyan5945 opened #915 "SelectorPickerView supports two more components"
If SelectorPickerView supports two more components,it is cool!

[2016-12-28 06:49] hackjie commented on #913
Thanks

[2016-12-28 06:49] #913 closed

[2016-12-29 01:11] grimmwerks opened #918 "UIRefreshControl?"
How does one utilize UIRefreshControl with XLForm?

[2017-01-04 04:40] pnkjdubey0 commented on #702
problem with `-(void)makeRadioSection:(XLFormSectionDescriptor *)section` is that, user can unselect the last selected row as well. How can we have at least one selected anyway?

I tried following but got error
`- (void)makeRadioSection:(XLFormSectionDescriptor *)section {
    typeof(self) __weak weakself = self;
    for (XLFormRowDescriptor *row in section.formRows) {
        row.onChangeBlock =

[2017-01-04 08:44] sriteja25 opened #919 "Saving form values to firebase ?"
How can i get form values in a NSDictonary format ?

[2017-01-10 13:05] mats-claassen commented on #915
Maybe the fastest way to get at this is if you subclass `XLFormSelectorCell` and override the delegate methods of the pickerView.
[This section in the readme](https://github.com/xmartlabs/XLForm#how-to-create-a-custom-row) can help you with this.

[2017-01-11 18:15] multinerd commented on #919
Its literally in the `ReadMe.md` https://github.com/xmartlabs/XLForm#form-values

[2017-01-11 18:19] multinerd commented on #918
The same way you would any other `UITableView`.

`XLFormViewController` mimics a `UITableViewController`, and by that i mean you can reference `self.tableView` in your forms instance

https://github.com/xmartlabs/XLForm/blob/master/XLForm/XL/Controllers/XLFormViewController.h#L84

[2017-01-11 18:25] multinerd commented on #911
Try

    // inside IBAction or however your calling it programmatically
    [myXLFormRowDescriptor.cellConfig setObject:"1999" forKey:@"textView.text"];

See: https://github.com/xmartlabs/XLForm#additional-configuration-of-rows

[2017-01-11 18:44] multinerd opened #921 "-(NSDictionary *)formValues returns (no summary)"
Hi, im using XLForms as an update form, when the view is loaded, the form is initialized, after a webservice call, the forms values gets updated with the necessary data.

Heres my problem.

When i hit save, i pull the values using `[self.form formValues]`. However, even though the text is in the textfield, the dictionary returns `(no summary)` and will remain to do so until i you manually edit the

[2017-01-11 19:13] multinerd commented on #921
A workaround is to save my values to a instance variable `NSString` and use that if the field is showing as (no summary). this way if the user dosent touch the row, i use the original value, otherwise new value from dict.

[2017-01-12 13:23] mats-claassen commented on #492
@wisesabre has an example of this in #917

[2017-01-12 13:23] #492 closed

[2017-01-12 13:26] mats-claassen commented on #919
Exactly, thanks @multinerd

[2017-01-12 13:26] #919 closed

[2017-01-12 13:27] #918 closed

[2017-01-12 13:33] mats-claassen commented on #911
Have a look at #493 or [the FAQ](https://github.com/xmartlabs/XLForm#how-to-set-a-value-to-a-row). Does that help?

[2017-01-12 13:36] mats-claassen commented on #921
You should set the value of the rowDescriptor and call `-(void)reloadFormRow:(XLFormRowDescriptor *)formRow` as explained [in this FAQ section](https://github.com/xmartlabs/XLForm#how-to-set-a-value-to-a-row).

Related to #493

[2017-01-12 15:06] multinerd commented on #921
After tinkering with the `-(void)reloadFormRow:(XLFormRowDescriptor *)formRow`method, and from my understanding, i should use `taskRow.value = @"ksjdfhksfhksf"` instead of `[taskRow.cellConfig setObject:@"ksjdfhksfhksf" forKey:@"textView.text"]` when setting values from my webservice call correct?

[2017-01-12 15:47] #921 closed

[2017-01-12 18:25] yellowoctopus opened #922 "crash when reloading table view"
I am getting  crash randomly.  Obviously,  the reason is  that the data is supposed to be NSNumber but its  NSString.  Tried  several time  to reproduce with the same data  but  nothing happens.
I just want to  get  some clue what  should I need to check.

[__NSCFString unsignedIntValue]: unrecognized selector sent to instance 0x16fdb970

0  CoreFoundation                 0x1c4dee07 __exceptionPre

[2017-01-12 19:06] multinerd commented on #922
Without your code, i can only assume this crash comes from you trying to convert `NSString` to `NSNumber`? If so, try something along the lines of the code below, otherwise post some code.

    NSString *number = @"123";
    NSNumber *number2 = [NSNumber numberWithInt:[number intValue]];
    myRow.value = number2;

[2017-01-13 17:33] marinofaggiana opened #923 "XLFormRowDescriptorTypeTextView"
Hi,
it's possible change color background of TextView disabled ?

This is my code :
previewFileName.cellConfig.setObject(UIColor(red: 247/255, green: 247/255, blue: 247/255, alpha: 1), forKey: "backgroundColor" as NSCopying) but this it's for cell, i want only for TextView ...

This is the bad result  :
![schermata 2017-01-13 alle 18 32 20](https://cloud.githubusercontent.com/assets/8616947/219391

[2017-01-15 22:36] marinofaggiana opened #924 "UIProgressView"
Is' possible insert a row-type of UIProgressView ?

Thanks a lot

[2017-01-18 13:27] mats-claassen commented on #923
You need to change the key. Try with `textView.backgroundColor`

[2017-01-18 13:55] marinofaggiana commented on #923
Thanks @mats-claassen !
And it's possible change separator color or UITableViewCellSeparatorStyle.none for a sigle section and not for all TableView with :

self.tableView.separatorStyle = UITableViewCellSeparatorStyle.none

[2017-01-19 04:02] youweikang opened #925 "When we enter Chinese in UITextField, UITextField displays the pinyin first"
When we enter Chinese in UITextField, UITextField displays the pinyin first@tomtaylor @JonathanTron

[2017-01-20 13:12] mats-claassen commented on #923
You can do what you could do with any UITableView. I think you can't change the separator for a single section. Your code changes it for the entire form.

[2017-01-20 13:14] #886 closed

[2017-01-20 13:15] mats-claassen commented on #924
I think this should go in the header or footer of a section.
You can have a look at #886.

If you really want to make a row for that you can but I do not think it is something for the library (unless other people want it to)

[2017-01-31 12:31] mats-claassen commented on #925
This should have to do with the UITextField, not with XLForm. Could you solve this issue?

[2017-02-01 09:08] manjuhere commented on #660
stuck with same problem... few rows stay blank after `reloadFormRow` method called on them in `formRowDescriptorValueHasChanged:` method... have to scroll the form offscreen to display again. any help would greatly be appreciated

[2017-02-09 18:46] thomasMinshull commented on #900
I'm dealing with the same problem, Took a quick QuickTime video reproducing the bug. Has anyone made any progress with this??

[XLFormBugReproduction.zip](https://github.com/xmartlabs/XLForm/files/764658/XLFormBugReproduction.zip)

[2017-02-11 14:17] hankinsoft opened #926 "Send data with XLFormRowDescriptorTypeSelectorPush?"
I have the following which uses a custom view controller for a selector:

[code]

Is there a way I can send current form values (from other rows) along to the viewController?

[2017-02-11 14:27] hankinsoft commented on #926
I switched to a button and made it look the same as a selector row.

[code]

This does the trick for me.

[2017-02-11 14:27] #926 closed

[2017-02-16 21:04] multinerd opened #927 "possible to Programmatically present a pickerview row?"
I have a switch and a picker view. when the switch is off, pickerview is hidden and vice versa. I am looking for a way to programmatically present the pickerview with the switch is turned on. do you have any ideas on how i can achieve this?

I want the flow to be

rather than

[2017-02-19 13:15] zhjuncai commented on #653
looks like nobody care xlform?

[2017-02-21 13:01] mats-claassen commented on #653
This is something we should address. I have no time currently but if somebody did submit a pull request I would gladly review it.

[2017-02-21 13:03] mats-claassen commented on #927
You could use the `onChangeBlock` on your switch row to assign the first responder to the picker view when the value of the switch is on.

[2017-02-21 17:27] #896 closed

[2017-02-21 17:27] #898 closed

[2017-02-21 17:28] mats-claassen commented on #894
No, XLForm does not reuse cells. If you have lots of rows then you might want to go with a simple UITableView instead of XLForm.

[2017-02-21 17:33] mats-claassen commented on #901
@tospery Did you fix this?

[2017-02-21 17:34] #892 closed

[2017-02-22 10:48] Sef1995 opened #928 "Move rows in section programmatically"
Hi,

I have an action sheet row and a particular value of this row has to trigger a reorder of rows. That means that I have to move some rows upwards in the section and some down. I tried to do this by creating an onChangeBlock on the ActionSheetRow with this code in it to test:
`[self.tableView moveRowAtIndexPath:[NSIndexPath indexPathForRow:1 inSection:0] toIndexPath:[NSIndexPath indexPathForRow

[2017-02-22 13:39] mats-claassen commented on #928
That will not work as XLForm's sections have an array of rows in order and when the tableView is reloaded then your row would be back where it was. What needs to be done is to change the order of the rows in the `XLFormSectionDescriptor`.

The problem is that this is currently not supported. So, there is a function which does exactly that but it is not public. I guess it should be possible to make

[2017-02-22 13:41] Sef1995 commented on #928
@mats-claassen Thanks for your reply. I fixed it by doing `[_fields.formRows exchangeObjectAtIndex:1 withObjectAtIndex:2];` in the onChangeBlock.

[2017-02-22 13:45] mats-claassen commented on #928
Yeah, but there might still be issues with that as the section has an `formRows` and a `allRows` internally. This is because some rows might be hidden (so they would just be in `allRows`) and you are not reordering the row in that array.

[2017-02-22 13:46] Sef1995 commented on #928
@mats-claassen Okay, thanks for the heads up. I'll take a look into it.

[2017-02-22 14:24] multinerd commented on #927
might be a stupid question but how do i access the pickerview from the `XLFormRowDescriptor`?

[2017-02-22 14:30] mats-claassen commented on #927
You can get the cell for that row with `cellForFormController` on XLFormRowDescriptor. If you cast that cell to `XLFormPickerCell` (or whatever you are using) you can access the pickerView

[2017-02-22 14:44] multinerd commented on #927
Maybe you can help me out. using the following code, cell is always nil for me. You can see my full initForm method here
https://gist.github.com/multinerd/d6159781199c0bc0aada7fa6a7284ecb

    dueSwitch.onChangeBlock  = ^(id oldValue, id newValue, XLFormRowDescriptor *rowDescriptor){
        if ([newValue isEqual:@YES]) {
            id cell = [weakdueRow cellForFormController:weakSelf];

[2017-02-22 14:47] multinerd commented on #927
Acutally, ive added the `id cell = [weakdueRow cellForFormController:weakSelf];` to `-(void)formRowHasBeenAdded:(XLFormRowDescriptor *)formRow atIndexPath:(NSIndexPath *)indexPath` and its not nil here, so ill tinker with implementing the logic here. Thanks for your help

[2017-02-22 14:49] mats-claassen commented on #927
I think `weakdueRow` is nil there. You assign it before creating `dueRow`

[2017-02-22 14:53] multinerd commented on #927
I went the delegate route, less headache and got it working in 5 minutes =D. Thanks again for the help and this amazing framework.

[2017-02-22 15:58] #928 closed

[2017-02-27 06:27] JIAZoro opened #930 "the app crash"
in one table ,have two XLFormRowDescriptorTypeSelectorPickerView,
when i click one of the row,the app crash,
 crash info:[exc_bad_access code=1, address=....]. in the line    [_pickerView selectRow:[self selectedIndex] inComponent:0 animated:NO];   XLFormSelectorCell.h
not always crash，it is contingency.

[2017-02-27 08:49] r00tify opened #931 "How to set the controllers language in XLForm"
I'm using XLForm in this app and the month in the date picker controller is showing in the iPhone language. However, I need it to be shown in a different language, i.e. the app language. How do I do that?

[2017-02-28 10:04] carlhunterroach opened #932 "Odd rendering of accessoryview background"
On iOS 8.x all is fine. But on an iOS 10.x the accessoryview - the uitoolbar - that appears above the keyboard doesn't have a full opaque background but instead, a background that is only a few pixels high. Suggestions welcomed.

Fine on iOS 8 and iOS 9:
<img width="319" alt="toolbar height ios 8" src="https://cloud.githubusercontent.com/assets/1036041/23401267/faa0f198-fd9e-11e6-9451-a1f95ae75a4c

[2017-02-28 11:26] mark5422 commented on #911
Ultimately I moved things around so I didn't need to do this any longer as I wasn't able to get it working in time for my needs.

[2017-02-28 11:26] #911 closed

[2017-03-02 04:08] tiritea opened #933 "formRowDescriptorValueHasChanged not called (but other XLFormDescriptorDelegate methods are)"
[Objective-C]

So I'm setting up and using a generic XLFormViewController programmatically (ie not using a subclass, nor a nib), and setting its parent UIViewController as the XLFormDescriptor's delegate. Basically like this:

[code]

and then using this xlform to init a XLFormViewController, like this:

[code]
My parent UIViewController (self) implements all the XLFormDescriptorDelegate methods:

[2017-03-02 12:57] #927 closed

[2017-03-02 13:06] mats-claassen commented on #930
I put two XLFormRowDescriptorTypeSelectorPickerView in the Examples of XLForm and cannot reproduce this crash. I will need more information to know where the issue is. Are you sure it is not caused by some code of your app?

[2017-03-02 13:12] mats-claassen commented on #931
Did you try setting the `locale` property of your cell using `cellConfigAtConfigure`?

[2017-03-02 13:17] mats-claassen commented on #932
This is weird. It does not happen to me in the Examples of XLForm (iOS 10.2). Could you try it in the Examples in iOS 10.3?

[2017-03-02 13:27] mats-claassen commented on #933
I can't tell you what it is but that delegate method is called from this line (https://github.com/xmartlabs/XLForm/blob/master/XLForm/XL/Descriptors/XLFormRowDescriptor.m#L321). You could put a breakpoint there and see why it is not calling. That would be really helpful

[2017-03-02 19:55] r00tify commented on #931
No, how do I do that?

[2017-03-02 20:36] tiritea commented on #933
OK. So did this and put in breakpoint at XLFormRowDescriptor.m#L321 as suggested:

[code]

As soon as I hit first letter in keyboard when changing a row the breakpoint fires, so it is detecting the keypath "value" is being changed. But WHOAMI is an XLFormViewController* (!), ie *not* my generic UIViewController, which should have been (and previously was) the delegate. This rather explains why I s

[2017-03-02 20:41] tiritea commented on #933
BTW, please excuse my delay(s) in responding - I'm in New Zealand, some 9 timezones away from ya... :-)

[2017-03-03 12:09] mats-claassen commented on #933
Yes, it is changed in viewDidLoad method. But you have to take care to assign the delegate to a simple UIViewController as the XLFormViewController does use the delegate to implement some features. So I suggest that you implement the delegate in your XLFormViewController because otherwise you will have to implement all the delegate methods and add the code that a XLFormViewController would execute

[2017-03-03 12:13] mats-claassen commented on #931
Have a look at the [Additional configuration of rows](https://github.com/xmartlabs/XLForm#additional-configuration-of-rows) section of the readme.

[2017-03-03 22:03] tiritea commented on #933
Cheers.

So, XLFormViewController is effectively an 'abstract' superclass, which *must* be subclassed - at least for XLFormDescriptorDelegate to work properly; correct? If that's the case then it might be worth making it explicit in the docs, and enforcing it with, say

[code]

Aside: I do think it'd be great if you could use '''[XLFormViewController.alloc initWithForm:xlform]''' - ie without subc

[2017-03-05 09:28] tiritea commented on #933
Closed issue b/c working as designed - XLFormDescriptorDelegate requires XLFormViewController subclass.

[2017-03-05 09:30] #933 closed

[2017-03-05 19:14] r00tify commented on #931
It did work at display, but when I pick a date from date picker, the selected date is shown in phone locale not my custom locale.

[2017-03-06 15:59] mats-claassen commented on #931
Where is it shown like that? In the console?
The row returns you a date. You can print or show that date in whatever language you want.

[2017-03-06 16:01] mats-claassen commented on #933
Thanks for your comments @tiritea. Maybe we should enforce that yes.

[2017-03-10 11:37] r00tify commented on #931
No, I mean when I pick (select) a date from the date picker,  the `formattedDate` method inside `XLFormDateCell.m` is returning `[NSDateFormatter localizedStringFromDate:date dateStyle:NSDateFormatterNoStyle timeStyle:NSDateFormatterShortStyle]` which uses the iPhone locale not the one I provide in the row configuration.

[2017-03-10 17:17] r00tify opened #934 "Customize XLFormSelectorCell"
Is there any simple way to make `XLFormSelectorCell` appear on two lines (title as a label and selected value bellow in the 2nd line)? Maybe something like the `FloatLabeledTextField` From the examples project..

The idea is to prevent selected values from being truncated for long strings.

[2017-03-18 00:57] yepesasecas opened #936 "How can I hide the keyboard toolbar button"
I want to hide the toolbar "Done" Button in some scenarios when I only have one TextField and one action button. see image below.

![img_2184](https://cloud.githubusercontent.com/assets/1679292/24067508/df27d368-0b4b-11e7-9e1f-8b5272e85bf0.jpg)

[2017-03-21 12:27] mats-claassen commented on #934
You can try using `row.cellStyle = UITableViewCellStyleSubtitle;`

[2017-03-21 12:35] mats-claassen commented on #936
I think currently the easiest way is to override `-(UIView *)inputAccessoryViewForRowDescriptor:(XLFormRowDescriptor *)rowDescriptor` in your XLFormViewController subclass.

[2017-03-21 17:16] r00tify commented on #934
Great, thanks!

[2017-03-21 17:17] #934 closed

[2017-03-21 19:03] GioAlba opened #938 "Error -[UItableview findFirstResponder:]: unrecognized selector sent to instance"
I'm trying to use the library.
I installed the latest version via pod. I'm using the sample code in the example and got the following error in

UIView * firstResponder = [self.tableView findFirstResponder];

-[UItableview findFirstResponder:]: unrecognized selector sent to instance

where am I wrong?
Thanks

[2017-03-22 13:12] mats-claassen commented on #938
`findFirstResponder` is declared in `UIView+XLFormAdditions.h` in XLForm. This is included from `XLForm.h`, did you import that header?
I tried this code in the examples and it did not crash.

[2017-03-22 18:44] GioAlba commented on #938
I do not know why but I settled with carthage. Definitely a problem with my pod
Thanks

[2017-03-23 03:01] smileat opened #939 "How to chang pickcell detailTextLabel.frame"
Hi,please help me. How to chang pickcell detailTextLabel.frame.x 、y、width、height。I use

rowType:XLFormRowDescriptorTypeSelectorPickerView

[2017-03-26 22:45] yepesasecas commented on #936
Thank you @mats-claassen
I will try your solution.

[2017-03-27 10:59] AlexHedley opened #940 "JVFloatLabeledTextField image overlap"
If you add an image to an input and use 'XLFormRowDescriptorTypeFloatLabeledTextField' the text overlaps the image

[code]

![register - jvfloatlabeledtextfield 2](https://cloud.githubusercontent.com/assets/1573469/24353204/7cc4968e-12e4-11e7-89ec-828012c47f39.png)

I'm using [FloatLabeledTextFieldCell](https://github.com/xmartlabs/XLForm/blob/master/Examples/Objective-C/Examples/CustomRows/FloatL

[2017-03-28 12:49] mats-claassen commented on #938
So I think we can close this, right? Feel free to reopen if you think so

[2017-03-28 12:49] #938 closed

[2017-03-28 12:54] mats-claassen commented on #939
The `detailTextLabel` is the one of UITableViewCell. You can try setting its frame but I am not sure how UIKit handles that.
To do this you can use `cellConfig` or `cellConfigAtConfigure`.

[2017-03-28 13:02] mats-claassen commented on #940
If you are using the one from the examples then you must have copied it to your project to use it, right? You can change the constraints of that cell in `-(NSArray *)layoutConstraints` to take the imageView into account.

[2017-03-28 13:24] AlexHedley commented on #940
Thanks, this works:

from:
[code]
to:
[code]

Where I could set it with a variable:
[code]
[code]
[code]

![register - jvfloatlabeledtextfield 4](https://cloud.githubusercontent.com/assets/1573469/24407080/bcf5b728-13c1-11e7-86b1-2f8ee1ecdbd0.png)

[2017-03-28 13:24] #940 closed

[2017-04-03 08:30] AlexHedley commented on #335
Which property do you set on a normal section?

---
Section - Multi Valued Row Template.
[code]

Rows are working fine
[code]

[2017-04-05 07:49] smileat commented on #678
@misuqian could you show some code of cell, because i don't get value with [self httpParameters].

my cell code :
`#define REMARK @"remark"`
`-(void)update
{
    [super update];
    self.valueDic = [[NSMutableDictionary alloc] init];
    self.textView.font = [UIFont preferredFontForTextStyle:UIFontTextStyleBody];
    self.textView.placeHolderLabel.font = self.textView.font;
    self.textView.deleg

[2017-04-05 12:23] #931 closed

[2017-04-05 12:29] mats-claassen commented on #335
@AlexHedley What do you mean by background of normal section? The header and footer of the section or the background of its rows?

For the rows you have to do it for each of them separately. For the headers and footers you must use `-(UIView *)tableView:(UITableView *)tableView viewForHeaderInSection:(NSInteger)section` and its footer counterpart.

[2017-04-05 12:36] mats-claassen commented on #347
Sorry for the late response but I hope this helps future searches.

For @confile's question about setting a header to a section use:
`-(UIView *)tableView:(UITableView *)tableView viewForHeaderInSection:(NSInteger)section`
and return the view you want. This works just the same as any UITableView.

To edit the `Add New Tag` row you should use `section.multivaluedAddButton` property `cellConfigAtCon

[2017-04-05 12:36] #347 closed

[2017-04-05 12:46] #939 closed

[2017-04-05 12:47] mats-claassen commented on #936
@yepesasecas Did that work for you?

[2017-04-05 12:50] mats-claassen commented on #932
Tested this in iOS 10.3 in the Examples and could not reproduce it.
@carlhunterroach Can you reproduce it in the examples? Or is it a problem with your particular set up?

[2017-04-05 12:51] #930 closed

[2017-04-05 12:52] #925 closed

[2017-04-05 12:55] #923 closed

[2017-04-05 12:57] mats-claassen commented on #922
@yellowoctopus I think this issue is not related to XLForm itself, therefore I will close it.

[2017-04-05 12:57] #922 closed

[2017-04-05 12:59] mats-claassen commented on #915
We won't be implementing this anytime soon. If somebody wants to share some code then it can be done here so anyone with the same need can use it.

[2017-04-05 13:01] #909 closed

[2017-04-05 13:01] #908 closed

[2017-04-05 13:03] #901 closed

[2017-04-05 13:03] #894 closed

[2017-04-05 13:25] AlexHedley commented on #335
@mats-claassen  I got rows working with the above code, it was the Header/Footer of a section I was trying.

Thanks for pointing me in the right direction, I've used to the following to change the Section background colour.

[code]

**Header**
[code]

**Footer**
[code]

[2017-04-05 13:52] AlexHedley opened #943 "Change Cell Separator Color"
How do you change the Cell Separator color?

[code]

I've tried removing it, without any luck also.

[code]

[code]

[code]

[2017-04-05 13:58] mats-claassen commented on #943
It does work with this line:

[code]

You just have to take care where you execute it. It should be in `viewDidLoad` after calling super.

[2017-04-05 14:05] AlexHedley commented on #943
Thanks @mats-claassen I think I'd tried it everywhere but!

I'd tried it at the start of ```initializeForm```, after ```self.form = form;```  etc.

Appreciate you taking the time to respond :)

[2017-04-05 14:05] #943 closed

[2017-04-05 14:14] #335 closed

[2017-04-05 15:28] yepesasecas commented on #936
@mats-claassen not yet.

[2017-04-06 21:33] tiritea opened #944 "Make XLFormOptionsObject formValue and formDisplayText writeable?"
So I have an XForm application where I need to change the text & value of one of a XLFormRowDescriptorTypeMultipleSelector row's XLFormOptionsObject objects _after_ its been added to the row's selectorOptions [in response to user input]. Unfortuantely, because the XLFormOptionsObject's formValue and formDisplayText are read-only - you can only set them during initWithValue:displayText:, which may

[2017-04-10 14:18] tobib89 opened #945 "Change selected background color"
Is it possible to change the background color of a selected XLFormButtonCell?

It is possible with a UITableViewCell:
UIView *view = [[UIView alloc] init];
view.backgroundColor = [UIColor redColor];
cell.selectedBackgroundView = view;

[2017-04-10 18:15] GioAlba opened #946 "Pickercontroller allowsEditing=no"
How I can use row cell XLFormRowDescriptorTypeImage with picker controller with option allowsEditing=NO

Thanks

[2017-04-11 05:05] mojtabacazi opened #947 "Add Item row still visible in Read Only mode."
"+ Add Item" row should be hidden when form is in ReadOnly Mode. Only happens in `XLFormSectionInsertModeButton`. The plus button is removed but row it self is there

[2017-04-11 05:14] #947 closed

[2017-04-11 09:49] AlexHedley opened #949 "Selectors (StoryboardId) to another Storyboard View"
I've split my app up into multiple Storyboards.
I'm using Storyboard References to link them.

I'd like to show a ViewController from one SB in the current SB.

___Example___
Storyboard **A** contains 'Profile'.
Storyboard **B** contains 'Info'.
'Profile' has a button to show 'Info'.

Looking through the Example - [Selectors](https://github.com/xmartlabs/XLForm/tree/master/Examples/Objective-C/Exa

[2017-04-11 10:11] AlexHedley commented on #945
Are you happy to change the background color of the whole cell?

`row.cellConfigAtConfigure[@"backgroundColor"] = [UIColor redColor];`

[2017-04-11 14:48] tobib89 commented on #945
No, i want to change the color of a selected XLFormButtonCell. The Color of the selected cell is by default gray.

[2017-04-11 15:33] AlexHedley commented on #945
It would be good to be able to change this selection style.
- UITableViewCellSelectionStyleNone
- UITableViewCellSelectionStyleBlue
- UITableViewCellSelectionStyleGray
- UITableViewCellSelectionStyleDefault

[code]

---

You could use a Custom Row

- [How To Create a Custom Row](https://github.com/xmartlabs/XLForm#how-to-create-a-custom-row)

---

You could create a custom cell then change the `se

[2017-04-12 02:17] smileat opened #950 "Add image to custom row for button"
How can I add an image to a button. In custom row, have a button "btnLocation",
 I use:
 `[row.cellConfig setObject:[UIImage imageNamed:@"scan_blue"] forKey:@"btnLocation.imageView.image"];
`

I konw add image to button, need use:
 `[self.btnLocation setImage:[UIImage imageNamed:@"scan_blue"] forState:UIControlStateNormal];
`

but I need use row.cellConfig to add some different image.

[2017-04-12 07:34] tobib89 commented on #945
Thanks for your reply.
I just add this lines of code in XLFormBaseCell:
- (void)setHighlighted:(BOOL)highlighted animated:(BOOL)animated
{
    if (highlighted) {
        self.backgroundColor = [UIColor redColor];
    } else {
        self.backgroundColor = [UIColor whiteColor];
    }
}
Of course it's also possible with cutom rows, but i need the same background color for every in row in my project

[2017-04-19 14:51] mats-claassen commented on #944
I think `formDisplayText` could be writable but why would you want to change the `formValue` of an option? I mean would it not be a new object then?

[2017-04-19 15:05] mats-claassen commented on #946
This is currently not easy to change. You would have to subclass the XLFormImageCell and then override `formDescriptorCellDidSelectedWithFormController:` or `openImage:`

[2017-04-19 15:06] mats-claassen commented on #946
This is currently not easy to change. You would have to subclass the XLFormImageCell and then override `formDescriptorCellDidSelectedWithFormController:` or `openImage:`

[2017-04-19 20:52] tiritea commented on #944
My use case is a (custom) XLFormRowDescriptorTypeSelectorPush where the last option is ‘Other’, which when picked brings up a textField to allow the user to enter a custom value. Hence I need to be able to update that option’s formValue - and preferably formDisplayText too - after they’ve entered their desired value. Does that make sense?

[2017-04-21 18:32] #528 closed

[2017-04-24 13:04] ShaiGivati464 opened #953 "Add XLFormViewController's view to UIViewController's view as subview"
I have two controllers: one inherits UIViewController and the other inherits XLFormViewContoller.
I would like to add the view of the XLFormViewContoller as subview of the regular UIViewController. Is it possible?

[2017-04-25 13:14] AlexHedley commented on #574
From the example in [InputsFormViewController](https://github.com/xmartlabs/XLForm/blob/master/Examples/Objective-C/Examples/Inputs/InputsFormViewController.m)

[code]

Add:
[code]

---

Don't do this:
[code]

[2017-04-25 14:55] #944 closed

[2017-04-26 13:15] mats-claassen commented on #949
Yes. Implement `-(UIStoryboard *)storyboardForRow:(XLFormRowDescriptor *)formRow;` in your `XLFormViewController(Delegate)`

[2017-04-26 13:18] mats-claassen commented on #950
@smileat Could you find a solution?

What is the error when you execute:
`[row.cellConfig setObject:[UIImage imageNamed:@"scan_blue"] forKey:@"btnLocation.imageView.image"];` ?

[2017-04-26 13:25] mats-claassen commented on #953
I think so but you should still keep the XLFormViewController to control the form

[2017-04-27 07:01] smileat commented on #950
@mats-claassen the image is not show. But I use Debug View Hierarchy to check, find this :
<img width="568" alt="7f990f6c-2b53-78c6-950c-22f8dbe3406d" src="https://cloud.githubusercontent.com/assets/11358644/25471568/475d35f8-2b5a-11e7-8ed1-e0cb85f30c78.png">

[2017-04-27 07:05] smileat commented on #950
I find UIButton->imageView is readonly.
`@property(nullable, nonatomic,readonly,strong) UIImageView *imageView  NS_AVAILABLE_IOS(3_0);`

[2017-04-27 10:26] AlexHedley commented on #949
Thanks, worked a charm.

Using the `formRow` `tag` to set the correct Storyboard.

[code]

[2017-04-27 10:26] #949 closed

[2017-04-27 13:24] mats-claassen commented on #950
Ah, I get it. I think you will not be able to use `setImage:forState:` using cellConfig.
As it is a custom row you can make a workaround by creating a property in the cell and in its setter call `setImage:forState:`

[2017-04-30 17:12] #543 closed

[2017-05-02 06:50] AlexeyFreelancer opened #956 "formValues() always nil for selectorOptions"
Hi

`pod 'XLForm', :git => 'https://github.com/jcs/XLForm.git', :branch => 'master'`

[code]

`let formValues = self.form.formValues()`

Doesn't matter what was selected - value always nil.

[2017-05-02 13:25] mats-claassen commented on #956
Hi @AlexeyFreelancer, do you have another row with the same tag? In that case you would never get the values for this row.

[2017-05-02 13:35] AlexeyFreelancer commented on #956
Hi @mats-claassen No, I have only one row with name "Test". And even more - it worked before (about 1 years ago. Yeah, I didn't update my app a long of time) but after update all works well except Selector :(
If you need more info I can prepare more examples with screenshots.

[2017-05-02 13:53] mats-claassen commented on #956
It is working for me on master with the examples. I see you are pointing to master of a fork (https://github.com/jcs/XLForm.git). Maybe there is a commit on that fork that breaks this.

[2017-05-02 14:04] AlexeyFreelancer commented on #956
Ah, maybe I use wrong repository path! I'll check it asap and add feedback. Thanks!

[2017-05-02 14:34] AlexeyFreelancer commented on #956
The same error. My steps:
1. Changed Podfile:
`pod 'XLForm', :git => 'https://github.com/xmartlabs/XLForm', :branch => 'master'`
2. Updated libs
`pod --verbose update`
Log:
`-> Installing XLForm 3.3.0 (was 3.3.0)`
3. Implemented test method:
[code]

Result:
selectorValue is nil

Expected result:
selectorValue should be "option_2"

Screenshot:
<img width="1018" alt="screen shot 2017-05-02 at 17 27

[2017-05-02 16:35] mats-claassen commented on #956
You can see that the object is in the dictionary on the right side of the debugger console. The value for key `TestUniqueKeyForIssue956 ` is a XLFormOptionsObject. That is why casting it to String gives nil. Try printing that objects value or displayText.

[2017-05-02 18:19] AlexeyFreelancer commented on #956
You're right. Thanks! and sorry for disturb

[2017-05-02 18:19] #956 closed

[2017-05-02 22:55] #946 closed

[2017-05-02 22:56] m-revetria commented on #946
Closing this because of lack of response

[2017-05-02 23:01] m-revetria commented on #924
Closing this because of lack of response

[2017-05-02 23:01] #924 closed

[2017-05-02 23:03] m-revetria commented on #907
Closing this because of lack of response

[2017-05-02 23:03] #907 closed

[2017-05-03 00:43] smileat commented on #950
@mats-claassen Now, I use UIImageView and UIButton to do a "UIButton",like this:

`[self.contentView addSubview:self.imageViewBtnBack];
[self.contentView addSubview:self.btnLocation];

[self.btnLocation mas_makeConstraints:^(MASConstraintMaker *make) {
        make.right.equalTo(self.contentView).offset(-left_space_15);
        make.width.mas_equalTo(50);
        make.height.mas_equalTo(25);

[2017-05-03 00:49] smileat commented on #950
<img width="410" alt="qq 20170503083223" src="https://cloud.githubusercontent.com/assets/11358644/25645041/3efa5238-2fdd-11e7-81bc-e0c9f3196b85.png">

[2017-05-03 12:24] mats-claassen commented on #950
Did you try with the different `contentMode`'s of the image view?
Do you want to change the image after it has been shown or just support different image sizes for this row?

If it is the second case then you could parametrize the constraints. I don't know when you set the constraints but if it is after `configure` then you could have properties in that cell for the constants in the constraints an

[2017-05-04 01:07] smileat commented on #950
I set `self.imageViewBtnBack.contentMode = UIViewContentModeRight;` yet.
I want to support different image sizes for this row.

How to "set the constraints but if it is after `configure`"?  I set all the constraints in `configure`

[2017-05-04 12:50] mats-claassen commented on #950
I know constraints should go in the `configure`. What I meant was somehow change some parameters in `celConfigAtConfigure` and then update the constraints in `update` for example.

You could have constraints for height and width of the UIImageView and then update the constants of those constraints in `update` according to what you set in `cellConfigAtConfigure`

[2017-05-04 12:54] mats-claassen commented on #99
#306 should have fixed this

[2017-05-04 12:54] #99 closed

[2017-05-04 12:56] mats-claassen commented on #114
This has not been implemented and we do not plan to support it.

[2017-05-04 12:56] #114 closed

[2017-05-04 13:01] mats-claassen commented on #136
I believe this issue is pretty old and there is no answer needed but for any future readers: `XLFormViewController` has an `endEditing` which receives a `XLFormRowDescriptor`. You can identify your row descriptors with tags.

[2017-05-04 13:01] #136 closed

[2017-05-04 13:07] mats-claassen commented on #177
This is a very old question so it is probably not needed anymore but I think the issue lays in that you should not call `update` on that cell directly but rather call `reloadRowAtIndexPath` on your tableView.

[2017-05-04 13:07] #177 closed

[2017-05-04 13:10] mats-claassen commented on #194
Sorry for no response. I am closing this issue as it is very old. If somebody still has this question feel free to reopen.

[2017-05-04 13:10] #194 closed

[2017-05-04 13:19] mats-claassen commented on #210
The choices array should be of `XLFormOptionsObject` instances and not Strings.

[2017-05-04 13:19] #210 closed

[2017-05-04 13:24] mats-claassen commented on #236
You can use `rowDescriptor.action.viewControllerClass`, `rowDescriptor.action.viewControllerNibName` or `rowDescriptor.action.viewControllerStoryboardId` to use a custom view controller for that row. Then you can add that header to its sections

[2017-05-04 13:24] #236 closed

[2017-05-06 01:21] RescueThemes opened #957 "Make new row first responder when adding via multivaluedAddButton"
I have a multivalued section and when I tap the multivaluedAddButton I would like to set that added row as first responder. Any suggestions on how to achieve that?
Thank you

[2017-05-08 07:36] smileat commented on #950
@mats-claassen Perfect solution. I am very excited. Thank you for your patience! Thank you!

[2017-05-08 07:36] #950 closed

[2017-05-08 12:40] mats-claassen commented on #957
Testing with the examples, with the first section of the `Multivalued Sections` form that seems to happen. The new row gets first responder after you tap the add button.

[2017-05-08 12:46] #888 closed

[2017-05-08 12:50] mats-claassen commented on #889
To try the Swift examples you should run `pod install` in the `.../Examples/Swift` directory to install the dependencies and then you can use the Examples.

[2017-05-08 12:50] #889 closed

[2017-05-08 14:10] RescueThemes commented on #957
Thank you, this is a custom row

[2017-05-08 15:00] RescueThemes commented on #957
Haha, OK. Simple mistake. I forgot to implement -
(BOOL)formDescriptorCellCanBecomeFirstResponder
{
   return (!self.rowDescriptor.isDisabled);
}

[2017-05-08 15:00] #957 closed

[2017-05-15 01:49] urm9ril commented on #873
// Source code like this
- (BOOL)valueIsEmpty
{
    return self.value == nil || [self.value isKindOfClass:[NSNull class]] || ([self.value respondsToSelector:@selector(length)] && [self.value length]==0) ||
    ([self.value respondsToSelector:@selector(count)] && [self.value count]==0);
}
i'm changed like this
- (BOOL)valueIsEmpty
{
    return self.value == nil || [self.value isKindOfClass:[NSNull

[2017-05-15 13:35] mats-claassen commented on #873
What is the issue with the first code and what are you trying to achieve?

[2017-05-16 17:54] multinerd commented on #548
Any changes on this? I have a form with optional hidden rows with default values and i need those default values or if the user changes the value and re-hides the row, i need that new value

[2017-05-17 10:36] AlexHedley opened #958 "Row indexPath"
Example: Store user preferences
I'm calling an API to return an array of objects which have an _Id_ and a _Name_.

| Id | Name           |
|----|----------------|
| 1  | Food and Drink |
| 2  | Family         |

These are stored in an Array

[code]

I'm using Switch controls to display these items:

[code]

<img src="https://cloud.githubusercontent.com/assets/1573469/26150060/b39ceeee-3af4-11e7-84

[2017-05-22 13:43] mats-claassen commented on #958
I do not completely understand your problem. You want to map the rows to its associated category? You should be able to find the correct category with its `id` which you set as tag to the row.

[2017-05-22 17:47] AlexHedley commented on #958
I was hoping for another method like `formValues` or `httpParameters` but for tags.

- `-(NSDictionary *)formValues;`
- `-(NSDictionary *)httpParameters;`

So if I just mimic those methods and loop rows and get the `row.tag` property?

[2017-05-23 12:31] mats-claassen commented on #958
`formValues` returns a Dictionary that maps the row's tags to their values so that you get all the tags there.

[2017-05-23 13:05] m-revetria commented on #953
Closing this due to lack of response

[2017-05-23 13:05] #953 closed

[2017-05-23 13:06] m-revetria commented on #936
Closing this due to lack of response

[2017-05-23 13:06] #936 closed

[2017-05-23 13:06] m-revetria commented on #932
Closing this due to lack of response

[2017-05-23 13:06] #932 closed

[2017-05-23 13:07] m-revetria commented on #887
Closing this due to lack of response

[2017-05-23 13:07] #887 closed

[2017-05-23 13:24] AlexHedley commented on #958
Thanks, sorry I'd missed that.

[2017-05-23 13:24] #958 closed

[2017-05-23 14:33] AlexHedley commented on #940
I've recently added the below so when there isn't an image it goes back to the original.

[code]

[2017-05-24 21:27] #945 closed

[2017-05-24 21:35] #663 closed

[2017-05-24 21:41] mats-claassen commented on #677
I know this issue is pretty old but for future readers I guess the best way to solve this problem is to check for the `row.sectionDescriptor.multivaluedTag` to know that the row is from that specific multivalued section and if you must know the index of the row in that section then you could get that from the `sectionDescriptor`'s `formRows` property.

[2017-05-24 21:41] #677 closed

[2017-05-24 21:47] mats-claassen commented on #679
@winzig your suggestion makes sense to me but it has been quite a while since it has been proposed and it has not been requested by anyone else since so that we won't implement this. Feel free to submit a PR linking to this issue.

[2017-05-24 21:51] mats-claassen commented on #690
Duplicated by #689

[2017-05-24 21:51] #690 closed

[2017-05-25 06:56] i-am-chris commented on #508
how do you achieve that?
i have
`
-(void)formRowDescriptorValueHasChanged:(XLFormRowDescriptor *)rowDescriptor oldValue:(id)oldValue newValue:(id)newValue
{
    // super implementation MUST be called
    [super formRowDescriptorValueHasChanged:rowDescriptor oldValue:oldValue newValue:newValue];

if([rowDescriptor.tag isEqualToString:@"f1_from"])
    {
        //NSString * evenMoreNewValue = [[NSSt

[2017-05-25 07:23] i-am-chris opened #960 "minimum value"
Hello.
Please take a look at this:
in my form i have this definition:

[code]

NOW I HAVE THIS PROBLEM:
I need to modify the minimum date on the TO (second row) to be the row1.value + 3h
so i proceed to do:

[code]

Can anyone tell me if this is achievable??
I am struggling with this for 21h stright... may be the lack of sleep 👎  or the brain is dead :)

[2017-05-25 08:15] i-am-chris commented on #73
@brianfox201 did you have any success with that?? I am looking for the same thing.

[2017-05-25 11:51] m-revetria commented on #960
Hi @i-am-chris,
You can access the row that you want to modify, change its minimum date through `cellConfig` and then update it it. You can use next code as a snippet:

[code]

Otherwise, we use our GitHub project for bug reports and feature requests. In the future, you should open questions like this on Stack Overflow and tag `xlform`.

[2017-05-25 13:20] #893 closed

[2017-05-25 13:26] mats-claassen commented on #508
Hi @i-am-chris you can call `formRowWithTag` on your form to get that row. Then you get the value of that row and add those 3 hours.

[2017-05-25 22:51] i-am-chris commented on #960
Thanks, just woke up. @m-revetria  you rock!
Did not know how to call a XLFormDescriptor row ... makes sense now.

[2017-05-25 22:51] #960 closed

[2017-05-26 03:03] m-revetria commented on #850
Closing this due to lack of response

[2017-05-26 03:03] #850 closed

[2017-05-26 03:04] m-revetria commented on #867
Closing this due to lack of response

[2017-05-26 03:04] #867 closed

[2017-05-26 03:09] m-revetria commented on #885
Closing this due to lack of response

[2017-05-26 03:09] #885 closed

[2017-05-26 03:11] m-revetria commented on #820
Closing this, seems to be solved.

[2017-05-26 03:11] #820 closed

[2017-05-26 03:12] m-revetria commented on #813
Closing this due to lack of response.

[2017-05-26 03:12] #813 closed

[2017-05-26 03:15] m-revetria commented on #805
Closing this due to lack of response

[2017-05-26 03:15] #805 closed

[2017-05-26 03:35] m-revetria commented on #812
Hi @vishal-p,

Notice that the property name is `autocapitalizationType`. So, you should have used:
[code]
instead of:
[code]

Regards

[2017-05-26 03:35] #812 closed

[2017-05-26 03:42] m-revetria commented on #816
Closing this due to lack of response

[2017-05-26 03:42] #816 closed

[2017-05-26 19:41] m-revetria commented on #870
Closing this due to lack of response, it you're still experiencing this issue please open this again.

[2017-05-26 19:41] #870 closed

[2017-05-26 19:47] #821 closed

[2017-05-26 19:49] m-revetria commented on #799
closing this due to lack of response

[2017-05-26 19:49] #799 closed

[2017-05-26 20:06] m-revetria commented on #576
closing this due to lack of response

[2017-05-26 20:06] #576 closed

[2017-05-26 20:09] m-revetria commented on #863
Closing this due to lack of response

[2017-05-26 20:09] #863 closed

[2017-05-26 20:11] m-revetria commented on #871
Closing this

[2017-05-26 20:11] #871 closed

[2017-05-29 16:24] m-revetria commented on #803
Hi @CaliosD,

Could you elaborate more on what is not working?

I modified a bit the example to push a new viewcontroller similar to your example and it worked fine:

[code]

And the `viewController` created in the formBlock is pushed correctly.

![issue_803](https://cloud.githubusercontent.com/assets/4791678/26556624/f676916c-4471-11e7-87c1-bd3d2e5653ee.gif)

[2017-05-29 16:27] m-revetria commented on #824
Closing this due to lack of response

[2017-05-29 16:27] #824 closed

[2017-05-30 01:23] m-revetria commented on #823
Closing this due to lack of responses

[2017-05-30 01:23] #823 closed

[2017-05-30 01:23] m-revetria commented on #881
Closing this due to lack of response

[2017-05-30 01:23] #881 closed

[2017-05-30 01:24] m-revetria commented on #875
Closing this due to lack of response

[2017-05-30 01:24] #875 closed

[2017-05-30 03:21] m-revetria commented on #546
Closing this due to lack of response

[2017-05-30 03:21] #546 closed

[2017-05-30 03:29] m-revetria commented on #285
Closing this since it duplicates issue #256.

Please in the future avoid creating duplicated issues. We do our best to fix issues, implementing new features and helping with questions. Duplicating issues only makes the job harder and negative affect the support that we can provide.

Otherwise, we use our GitHub project for bug reports and feature requests. In the future, you should open questions

[2017-05-30 03:29] #285 closed

[2017-05-30 03:31] m-revetria commented on #257
Closing this as it duplicates #235

[2017-05-30 03:31] #257 closed

[2017-06-01 01:47] CaliosD commented on #803
It's so kind of you to add the code and gif. However, it's been a long time ago and I remembered that the controller was designed more complicated and I didn't use XLForm there.
It seems to work fine and you can close this issue at present. I'll let you know if I meet any other problem later.

Thanks again for your attention. :D

[2017-06-01 14:07] #803 closed

[2017-06-02 13:39] Marcin-Kapusta opened #962 "Collapse/Uncollapse Section But Leave The Section Header"
Hi. I added custom section header UIView with show/hide button. My goal is to hide/show section cells but leave the section header so it is always visible and I can control visibility of the section cells.

How can I implement hiding/showing only rows in this section. Currently I have this in my `XLFormViewController`:

[code]

Hiding is working very well but after hiding all cells in section ther

[2017-06-05 05:19] LixinQian commented on #825
Variable cannot begin with Numbers.I also met the same situation, how do you solve?
 @carlhunterroach

[2017-06-05 17:01] m-revetria commented on #962
Hi, @Marcin-Kapusta

Showing the rows is not working because the property `XLFormSectionDescriptor.formRows` only returns the visible rows. Currently there is not a supported way to access to all the rows including the hidden ones. You can use next code as workaround to access all the rows from your form, but noticed that **this is not supported and may change in the future**:

[code]

In my opini

[2017-06-05 17:03] m-revetria commented on #879
I'm closing this due to lack of response

[2017-06-05 17:03] #879 closed

[2017-06-05 17:05] m-revetria commented on #826
I'm closing this due to lack of response

[2017-06-05 17:05] #826 closed

[2017-06-06 04:40] alex-taffe opened #963 "Creating two selectors fails to respond to value updates"
Creating two selectors of any time fails to update values on the second selector. For example with this code:

[code]

The gender interest row will fail to update and receive the value of women

[2017-06-06 08:41] hamedmohammadi commented on #282
reload row cause keyboard to dismiss is there a way to stop this behavior

[2017-06-06 09:52] hamedmohammadi commented on #231
@mtnbarreto
reloadrow cause keyboard to resign .how to cope with this problem

[2017-06-06 10:33] Marcin-Kapusta commented on #962
Hi, @m-revetria

Thank You very much for the answer. I already made this using my solution with custom header approach. My solution is based on additional dictionary variable that keeps reference to all rows in form. I'm filling this dictionary during `initializeForm` phase with form initialization. This way I have reference to the rows even when they are hidden. Take a look at my solution. The me

[2017-06-06 10:33] #962 closed

[2017-06-06 16:45] mats-claassen commented on #231
You could reassign first responder after that.

[2017-06-06 22:17] m-revetria commented on #963
Hi @alex-taffe,

Can you show how you are updating the value of the second selector?

That is not done by `XLForm` automatically, you should implement the function `formRowDescriptorValueHasChanged` and check if the row changed was the first selector then update the second selector properly.

Regards

[2017-06-07 15:22] m-revetria commented on #783
Closing this due to lack of response

[2017-06-07 15:22] #783 closed

[2017-06-07 15:23] m-revetria commented on #533
Closing this due to lack of response

[2017-06-07 15:23] #533 closed

[2017-06-09 22:12] m-revetria commented on #750
Hi, you can take a look to see how achieve what you want.

In next link you can see how to add a slider row
https://github.com/xmartlabs/XLForm/blob/bb81e88572d1d977557dc186f725e30ebf474235/Examples/Objective-C/Examples/Others/OthersFormViewController.m#L100.

Later you have to implement `-(void)formRowDescriptorValueHasChanged:(XLFormRowDescriptor *)formRow oldValue:(id)oldValue newValue:(id)newV

[2017-06-09 22:12] m-revetria commented on #734
Closing this due to lack of response

[2017-06-09 22:12] #734 closed

[2017-06-10 22:53] AdventuresOfMar opened #965 "Possibility of using as a TableView instead of TableViewController?"
Hello!:) Is it possibility to use this cocoapod as a tableview instead of having it as the table view controller. Essentially I need a fixed header and fixed footer that don't scroll with the table view

[2017-06-12 06:56] hujaber commented on #450
How did you solve this?

[2017-06-12 13:15] mats-claassen commented on #965
You **must** conform to XLFormViewController which is an UIViewController, not an UITableViewController.  That XLFormViewController has a tableView and you can set its headers and footers as you want.

[2017-06-12 13:38] mats-claassen commented on #768
I think that setting should not be set by default but it can be set using `cellConfig`.

[code]

Thanks for the comment. I am closing this because I do not think it is an issue.

[2017-06-12 13:38] #768 closed

[2017-06-13 15:03] AdventuresOfMar commented on #965
Thanks so much! That gives me an idea on where to start my changes

[2017-06-13 16:19] alex-taffe commented on #963
It actually turned out that it was me being an idiot and assigning an image to a text row by accident inside of a closure, my bad!

[2017-06-13 16:19] #963 closed

[2017-06-15 15:41] ChekistNSK opened #966 "How to make alignment of edited textfield to the right of cell (not close left to title)?"
subj

[2017-06-16 08:14] ChekistNSK commented on #966
Figured out:
[row.cellConfig setObject:@(NSTextAlignmentRight) forKey:@"textField.textAlignment"];

[2017-06-16 08:14] #966 closed

[2017-06-16 09:35] fzq2016 opened #967 "Can i initialize some Prop to action.viewControllerClass or All Action"
In #741 ,there is someone ask the same question.

But his answer don't fit for me. Because in my situation the XLFormRowDescriptor is the section.multivaluedRowTemplate , I need to copy XLFormRowDescriptor. Runtime or copyWithZone of XLFormRowDescriptor can't help me to transfer some additional parameters to the target ViewConstroller Row, how do I want to do, thank you.

[2017-06-21 16:58] ChekistNSK opened #969 "Set color to selected option XLFormRowDescriptor.selectorOptions"
[code]

in formRowDescriptorValueHasChanged i set color:
[code]

it change correct after forms are initialized, but not changed if i select another option in picker...

[2017-06-21 22:36] #965 closed

[2017-06-21 22:43] m-revetria commented on #969
Hi @ChekistNSK try by calling `-(void)reloadFormRow:(XLFormRowDescriptor *)formRow` on your form controller after you change the `cellConfig` object.

[2017-06-22 04:52] ChekistNSK commented on #969
Also i need to change color of "detailTextLabel" then user just switch options inside picker AND then picker dissapears (done button pressed/tapped another cell).

[2017-06-23 03:25] eveloson opened #970 "Why can't I assign a label to textField.rightView of two rows?"
I create a UILabel and assign it to two rows by "[row.cellConfig setObject:paddingLabel forKey:@"textField.rightView"]". But It made app suspended and cost more and more memory,I just want to reduce memory. How can I fix this problem?
![qq20170623-111751](https://user-images.githubusercontent.com/16350042/27465358-a6c0bf10-5805-11e7-8e2b-a82a9aa59bc1.png)

[code]

[2017-06-25 20:41] BilalSaifudeen commented on #781
@mats-claassen Do you have a list of all RTL issues? I would like to help to make XLForm fully RTL supported:) Let me know if you have any plans

[2017-07-11 13:09] bayfatih2000 opened #972 "How can I set form bounds"
I want to put an XLForm to a special area on a viewcontroller. Is it possible? Or must I use as full screen?

[2017-07-15 13:08] Venom57 commented on #653
Is anyone working this currently?  If not I'll go ahead and tackle it next week.  If you are working this please let me know so I don't waste time.

[2017-07-21 03:43] EdwinCXD opened #974 "What is the difference between cellConfig and cellConfigAtConfigure?"
for example
It seems that the two are the same effect
`[row.cellConfig setObject:[UIColor redColor] forKey:@"backgroundColor"];`
`[row.cellConfigAtConfigure setObject:[UIColor purpleColor] forKey:@"backgroundColor"];`

[2017-07-24 09:07] habibghantous opened #975 "trying to work with XLForm"
hello, i am trying to work with XLForm but since i am new to IOS i am not able to make this library work with my project, does anyone have a detailed guide on how to do that?
any help would be much appreciated, thanks in advance.

[2017-07-26 01:38] tospery opened #976 "How to change the textLabel's leading padding and the imageView/detailTextLabel's tailing padding."
How to change the textLabel's leading padding and the imageView/detailTextLabel's tailing padding.

[2017-07-26 08:49] victhjy commented on #966
useful for me

[2017-07-31 21:46] Connor-Chappell opened #977 "Dynamically change the row height of XLFormRowDescriptorTypeTextView"
How do I change the height dynamically of the XLFormRowDescriptorTypeTextView??

Currently my row looks like this:
![screen shot 2017-07-31 at 4 45 22 pm](https://user-images.githubusercontent.com/19511991/28799815-aa768e64-760f-11e7-92c9-5a8b6ecbac7c.png)

Any suggestions? Currently these fields are just displaying a message and are disabled, so I do not know if there is a better solution to solv

[2017-08-01 16:04] Connor-Chappell commented on #977
Nevermind, I figured it out. For whatever reason I didn't think you could override the heightForRowAt indexPath, but I fixed my problem by returning UITableViewAutomaticDimension

[2017-08-01 16:04] #977 closed

[2017-08-07 03:14] ddSoul opened #978 "separatorStyle"
You can add a can configure separatorStyle in a row

[2017-08-09 01:42] RescueThemes opened #979 "tableView.selectRow not working"
I have a multisection that use row type `XLFormRowDescriptorTypeSelectorPush`
I want to select the row and push when a new row is added to the section.

I'm overriding `formRowHasBeenAdded()` and then calling
`self.tableView.selectRow(at: indexPath, animated: true, scrollPosition: .none)`
However the new row is not selected and the delegate method
`tableView(_ tableView: UITableView, didSelectRowA

[2017-08-09 13:03] Hunt3rDe opened #980 "UIPopoverController' is deprecated..."
Hi,

I have just a little question: would you fix the UIPopoverController Warning and why you don't use UIPopoverPresentationController?

Best regards
Hunt3rDe

[2017-08-11 12:07] MatteoMilesi commented on #899
I think this is a partial solution because it only resolves the parsing problem, but it seems to me that there's also a display problem aggravated by the change made.
Eg. If I have Italian locale (comma as separator) and I change the value of the field to 12,34, when it loses focus it displays 12.34 because it shows the `displayText` (XLFormRowDescriptor.m: 203), which returns the object `descript

[2017-08-18 04:33] luxystech opened #982 "How to set fixed button?"
Could you give any idea how to make button fixed on bottom and always over the form when scrolling?

http://joxi.ru/4AkOO4kiy8POqA

[2017-08-25 16:54] RescueThemes commented on #979
I got it working by also calling the delegate method too.
`
tableView?.selectRow(at: indexPath, animated: true, scrollPosition:.none)
tableView?.delegate?.tableView?(tableView!, didSelectRowAt: indexPath)`

[2017-08-25 16:54] #979 closed

[2017-08-26 12:07] luxystech opened #983 "How to make rounded corner for button?"
Any idea ? is it possible using  [row.cellConfigAtConfigure setObject ?

Using XLFormRowDescriptorTypeButton

[2017-08-30 06:38] luxystech commented on #983
Is it possible to use standard XLFormRowDescriptorTypeButton or have to implement custom button ?

[2017-09-04 14:56] carlhunterroach commented on #825
hi @LixinQian,  I continued to use a prefix for my tags.

[2017-09-04 14:56] #825 closed

[2017-09-13 10:59] AlexHedley opened #984 "Validation after clearing TextField isn't triggered"
I've added a required flag against some rows

`row.required = true;`

If I clear the TextField with x button, still have focus on the control, then run the Validate method that row doesn't get checked.
If I lose focus then validate again it shakes and changes colour.

My Row is a `XLFormRowDescriptorTypeFloatLabeledTextField`

I can't replicate it in the following Example: [ValidationExamplesFormV

[2017-09-13 11:01] AlexHedley commented on #978
https://github.com/xmartlabs/XLForm/issues/765

[2017-09-13 11:01] AlexHedley commented on #978
https://github.com/xmartlabs/XLForm/issues/477

[2017-09-13 11:01] AlexHedley commented on #978
https://github.com/xmartlabs/XLForm/issues/943

[2017-09-13 11:04] AlexHedley commented on #975
If you download the Project and open the [Examples](https://github.com/xmartlabs/XLForm/tree/master/Examples) there are lots of different concepts you can see implemented, the [README](https://github.com/xmartlabs/XLForm/blob/master/README.md) also explains a lot of functionality.

[2017-09-13 11:06] AlexHedley commented on #974
https://github.com/xmartlabs/XLForm#additional-configuration-of-rows

[2017-09-13 11:14] AlexHedley commented on #972
You can use the [ContainerView](https://developer.apple.com/library/content/featuredarticles/ViewControllerPGforiPhoneOS/ImplementingaContainerViewController.html) to embed other ViewControllers and set that to the size you wish.

[2017-09-13 11:20] AlexHedley commented on #835
Could you not use [Eureka](https://github.com/xmartlabs/Eureka) instead?

[2017-09-13 17:49] Sweeper777 commented on #835
Okay, I guess I'll use eureka then.

[2017-09-13 17:49] #835 closed

[2017-09-26 08:38] hungdm9999 commented on #678
I strongly recommend you to define "dataSource" and "delegate" protocols for your own customized cell. The new cell should render data only only and data is kept and processed by the ViewController that contains the cell. The logic is clear that overwrite "update" method with data extract from data source and all changes will be notified to your delegate
The other way is by transfer back/forward a

[2017-09-27 12:40] AlexeyFreelancer opened #986 "AdMob integration"
Hi. Is it possible to integrate AdMob into the Form?

[2017-10-01 09:26] marinofaggiana opened #988 "XLForm Project closed ?"
This project is closed ??

UIPopoverController deprecated >= 9
UIActionSheet deprecated >= 8.3

Thanks

[2017-10-05 07:39] delmarz commented on #982
1+ for this.

[2017-10-05 13:57] santiagofm commented on #982
I think you should ask this question in stackoverflow as it has little to do with XLForm.

Anyways, you should add the button you want to the form's parent `view`(probably your viewcontroller's view) and setup the appropriate constraints to have the button below the form and at the bottom of the view.
I think it's pretty straightforward but you can search stackoverflow and you'll find lot's of thr

[2017-10-05 13:59] #982 closed

[2017-10-26 18:17] mtnbarreto commented on #988
We just released a new pod version addressing these deprecated ios types.

[2017-10-26 18:17] #988 closed

[2017-10-27 08:44] chaserr opened #990 "config multiple section"
hey,i have a question
at: NativeEventFormViewController.m

// Repeat
    row = [XLFormRowDescriptor formRowDescriptorWithTag:@"repeat" rowType:XLFormRowDescriptorTypeSelectorPush title:@"Repeat"];
    row.value = [XLFormOptionsObject formOptionsObjectWithValue:@(0) displayText:@"Never"];
    row.selectorTitle = @"Repeat";
    row.selectorOptions = @[[XLFormOptionsObject formOptionsObjectWithValue:

[2017-10-31 08:55] Andy0570 opened #991 "Bug Report (NULL)"
In the official demo of `InputsFormViewController.m`, add the following code:

[code]

When I clear the contents of the input, APP will crash.
[code]

[2017-10-31 15:06] santiagofm commented on #991
Well, you can see the cause in your output.
When you clear the input the value of the row gets set to `NSNull` but `formRowDescriptorValueHasChanged:` gets also called and you are trying to do `value.length`...
You can fix this issue by checking if `newValue` is `NSNull` for example, either way this is an issue with your code rather than with XLForm.
Cheers

[2017-10-31 15:06] #991 closed

[2017-11-06 10:07] Pikdays commented on #915
Custom PickerView is difficult, lacking this example, causing me to spend too much time in this area.

[2017-11-07 02:32] Pikdays opened #992 "Too many bugs, do not recommend latecomers to use !!!!!!!!!"

[2017-11-08 17:55] RuchiKainturaMatura opened #993 "App is getting crashed when tapping on datepicker to set the date and hiding the row."
I am using XLForms in my project and when i am clicking on row to open datepicker , setting the date and then again tapping on row to hide the datepicker my app is crashing in this line of code:
-(void)formRowHasBeenAdded:(XLFormRowDescriptor *)formRow atIndexPath:(NSIndexPath *)indexPath
{
    [self.tableView beginUpdates];
    [self.tableView insertRowsAtIndexPaths:@[indexPath] withRowAnimation:

[2017-11-10 10:21] zhjch90 opened #994 "Ver: 4.0 doesn't support iOS 8? Which version has the lowest support for iOS 8"
Ver: 4.0 doesn't support iOS 8? Which version has the lowest support for iOS 8?

[2017-11-13 19:33] reggatta opened #995 "Enhancement Request - Support Incremental Search"
Your library is great, but I am looking for a way to do incremental searching during text entry like the Cocoapod SearchTextField (https://github.com/apasccon/SearchTextField) does.  Is there any way to do something like that?  That would be a great feature for me.

[2017-11-21 17:31] carlhunterroach opened #996 "How can I set "Hide Bottom Bar on Push" for a viewControllerClass ?"
I've a UITabBarController with 3 tabs. One tab displays an XLForm. Most of the rows in this XLForm object use a segue to a viewcontroller on my storyboard but there is one (called "Settings") where I set  row!.action.viewControllerClass instead.

For this one, the tabbar of the main viewcontroller remains visible.
For my storyboard VCs I can check "Hide Bottom Bar on Push". In the vc for Settings

[2017-12-24 18:22] klattimer opened #997 "Predicates not functional"
Sometimes I get a crash, sometimes it just doesn't do what it's meant to....

sample from my code.

NSString *const kXX = @"xx";

    XLFormRowDescriptor *x = [XLFormRowDescriptor formRowDescriptorWithTag:kXX rowType:XLFormRowDescriptorTypeBooleanSwitch title:@"Test Predicate"];
    x.value = @0;
    [section addFormRow:x];

    section = [XLFormSectionDescriptor formSection];
    section.hidden =

[2017-12-26 19:30] klattimer commented on #997
#998

[2017-12-26 19:32] klattimer commented on #997
It seems that the dictionary supplied for hidden and disabled predicates isn't in the appropriate format, I've added an iteration to fix it (not ideal), a cache of the correct data would be a better option.

This fixes it, but not entirely, there also seems to be an issue with predicates not being evaluated in rows inside of sections which are governed by predicates. I'll fix that issue in a separ

[2018-01-03 15:04] klattimer commented on #997
The rows in sections thing wasn't a real issue.

[2018-01-11 12:34] ajitam opened #999 "Changing background color"
Hello, my first task was to change the background color of the form.
I manage to do this with this code:

[code]

**Q1:** Is there a better way to check table background (here I'm catching tableview every time header is rendered)

**Q2:** how do I change the background color of the `XLFormRowDescriptorTypeSelectorPush` view

[2018-01-16 02:29] maikelohcfg opened #1000 "Form in modal crash"
I am using XLForm with MJPopupViewController and it work great but if the modal was dismissed while editing a text field and keyboard it is visible app crash with error "view has lost track of it's supervisee, most likely through unsupported use of CALayer API on the view's layer" any idea how avoid this. Thanks a lot

[2018-01-25 01:32] yingyangios opened #1001 "How to disable the animation when open the XLFormViewController"

[2018-01-28 23:27] codehearted commented on #869
I would have used this feature, if it were available.

[2018-01-30 08:22] pcccccc opened #1002 "How to modify row config after viewdidload"
How to modify row config after viewdidload ?

[2018-01-30 08:28] #1002 closed

[2018-02-02 14:58] noelhunter commented on #193
I use this, which I modified from the form validation code.  It could use some improvement, but it does clear all values:

`-(void)clearForm:(UIBarButtonItem *)buttonItem
{
    NSMutableDictionary * result = [NSMutableDictionary dictionary];
    for (XLFormSectionDescriptor * section in self.form.formSections) {
        if (!section.isMultivaluedSection){
            for (XLFormRowDescriptor * row

[2018-02-14 16:37] halpz commented on #999
I'm having this problem too!

[2018-02-14 18:56] ajitam commented on #999
Dear XLForm owners,

I think it would be appropriate to remove sentence form the first page

if you are not planing to actively **maintain and improve** the project. People (like me) are making decisions (also) based on things like this.

[2018-02-22 11:43] jjochen commented on #685
Setting the separator inset works without a custom header view.
[code]

[2018-02-23 08:01] ajitam commented on #999
btw @halpz in the end I just created my own custom push view instead of using "out of the box" one

[2018-02-27 10:08] ZTing590 opened #1003 "How can I realize as follow style form？"
At First tableviewController，I did select auto-respond cell and then push to next controller.   Next tableviewController I fill in auto-respond textField and then automatic pop to First tableviewController's auto-respond cell and fill in this cell's content.    My question is How can XLForm realize this style?  Please see following pictures:
![snip20180227_5](https://user-images.githubusercontent.

[2018-03-21 09:47] GREENBANYAN commented on #994
pity none emmmm

[2018-03-21 12:52] mats-claassen commented on #994
Version 3.3 supports iOS 7

[2018-03-21 12:52] #994 closed

[2018-04-04 11:54] loveJuly commented on #888
看到楼主的英语，我就放心说中文了。
想问一下这个解决了吗？

[2018-04-04 13:32] loveJuly commented on #915
@Pikdays Can you share this part of the code?

[2018-04-04 13:33] loveJuly commented on #888
@JIAZoro Can you share this part of the code?

[2018-04-04 13:35] loveJuly commented on #584
@AlexEdunov Can you share this part of the code?

[2018-04-04 13:39] loveJuly opened #1004 "Xlform questions about city pickerview?"
There is no code for the brother to share this requirement~~~
thx~~~

[2018-04-12 09:52] 824092805 opened #1006 "日期控件 可以把日隐藏吗？"

[2018-04-12 12:07] mats-claassen commented on #1006
你不能使用UIDatePicker來完成，但你可以使用UIPicker。因此，您可以使用XLFormPickerCell（XLFormRowDescriptorTypePicker）來代替使用XLFormDateCell。你可以在SelectorsFormViewController中看到這個例子。(by Google Translate)

[2018-04-13 02:25] xxzizixx opened #1007 "XLForm TextView's Placeholder's Font Bug When Scrolling To Update"
There is a litter bug in XLFormTextViewCell,
The first, I set the textView placeHolder font to 14, there is nothing wrong with it. but when I scrolling the cell, at this time the textView's placeholder's font will change .
To solve this bug, you can remove the line 133 in XLFormTextViewCell, and it will well done~

[2018-04-13 22:32] jsm174 opened #1008 "Inconsistent highlight / unhighlight colors for XLFormRowDescriptorTypeText vs XLFormRowDescriptorTypeSelectorPickerView"
I maybe missing something, but it seems the highlight / unhighlight colors are inconsistent.

For XLFormRowDescriptorTypeText, when activated the title becomes the tint color, while the text field becomes black.

For XLFormRowDescriptorTypeSelectorPickerView, when activated, the title stays black while the value turns to the tint color.

Is this behavior expected?

[2018-04-17 06:34] 824092805 opened #1009 "如何实时监听单元格中textField的输入 来改变按钮的背景颜色"

[2018-04-17 12:18] 824092805 opened #1010 "如何获取单元格对象"

[2018-04-20 11:09] LLietz commented on #766
Is it a grouped TableView? In that case you need to set the height of the tableView.tableHeaderView bigger than 0 (for example = 0.01), otherwise iOS will set a default value to it.
Let me know if it helped!

[2018-04-21 15:04] colinrblake opened #1011 "Notification when rows are reordered?"
I am using a section with XLFormSectionOptionCanReorder and need to get notified when the user reorders rows. How can I do that? formRowDescriptorValueHasChanged isn't called, and neither are formRowHasBeenAdded or formRowHasBeenRemoved. What am I missing?

[2018-04-21 15:14] colinrblake opened #1012 "Disable individual row delete?"
I have a section with XLFormSectionOptionCanDelete set and it works fine. However, some rows I need to prevent from being deleted. There doesn't appear to be a "shouldDelete" callback from which I can return NO. Any ideas?

[2018-04-24 00:06] colinrblake opened #1013 "Crash when using SelectorLeftRight as row template"
I have a section with a row of type XLFormRowDescriptorTypeSelectorLeftRight which works fine. But when I define a template row the same way, at run time when I click on the row the creation of a duplicate causes an exception:

[code]

This is at the following line in XLFormRowDescriptor.m

[code]

Seems that an XLFormOptionsObject can't be copied, because this simple test fails in the same way:

[2018-05-03 05:31] Share-Yida opened #1014 "pickerview 滑动才能选择的问题"
点击row 弹出pickerview的时候 必须滑动一下才能选择 怎么能直接选中？

[2018-05-08 12:13] lczalh opened #1015 "自定义单元格 怎么传多个值到单元格中"

[2018-05-11 09:01] AVAlex opened #1016 "Change color to text section"
I'am unable to change the color and the font to XLFormSectionDescriptor. It's possible?

XLFormSectionDescriptor * section;
 // Basic Information
 section = [XLFormSectionDescriptor formSectionWithTitle:@"Other Cells"];
 [form addFormSection:section];

[2018-05-11 11:59] mats-claassen commented on #1016
Hi, do you want to change font and color of the header?

The section header and footer are the default of iOS.

You can have a look [here](https://github.com/xmartlabs/XLForm#how-to-customize-the-header-andor-footer-of-a-section) for help setting a view as header which you could customize

[2018-05-11 12:05] mats-claassen commented on #1011
You could try overriding `- (void)tableView:(UITableView *)tableView moveRowAtIndexPath:(NSIndexPath *)sourceIndexPath toIndexPath:(NSIndexPath *)destinationIndexPath` in your `XLFormViewController`. Don't forget to call super or it won't work.

[2018-05-11 12:25] AVAlex commented on #1016
Hi. Great!
Thank you

[2018-05-11 17:33] #1016 closed

[2018-05-16 05:27] conse7 commented on #1009
use "isRequired"

[2018-05-16 12:19] mats-claassen commented on #1008
All the text rows highlight the title and all the selector rows highlight the value. They are different types of rows. The selector rows have been designed the same as the rows in some iOS apps. Text rows normally don't have coloring but I think it did make more sense to highlight the title than the changing text field.

[2018-05-25 06:22] xiaoyishan opened #1017 "How to insert a cell on a unknown indexpath?"
I need custom add/del on anyone indepath cell.
I just reset initializeForm everytime to fix it.

[2018-05-25 12:09] xiaoyishan commented on #1017
haha ,  removeFormRowWithTag&addFormRow is so clear ......

[2018-05-25 12:09] #1017 closed

[2018-05-30 22:03] serhatsezer opened #1018 "How can I adjust default position of pickerView cell label"
I want to adjust right label of date picker and add some padding from the right of the label. Like picture below.
<img width="308" alt="screen shot 2018-05-31 at 00 59 12" src="https://user-images.githubusercontent.com/1409961/40749964-6bf9fb32-646e-11e8-9136-854df77be2cf.png">

any ideas would be great. @mtnbarreto

[2018-06-06 14:20] JGK01 opened #1019 "Slider doesn't work"
hi,

i'm trying to create a slider row but it doesn't work. the row doesn't want to display on the screen.

using this code :
[code]

every other types work fine

Thanks !

[2018-06-07 13:21] mats-claassen commented on #1019
I copied your code to the Examples project and it works fine. A few things to check: Are you adding that section to the form? Do you have another row with that tag?

[2018-06-07 13:59] JGK01 commented on #1019
thanks ! the problem was that i had a second row with the same id

[2018-06-08 12:39] #1019 closed

[2018-06-13 19:33] liraz opened #1020 "Crash in version 4.0.0 - CALayerInvalidGeometry; CALayer bounds contains NaN"
**Device:** iPhone SE
**OS:** 11.3.1

Seems related to UIPickerTableView changing visibility of another row.
This might be related to multi-threading - two threads are changing visibility at the same time.

**This is the crash log from Fabric:**
[code]

[2018-06-13 20:02] liraz commented on #1020
i am not able to reproduce this crash on my own currently, it came from one of the users device.
and happened only once in the last 3 days - it might crash again, so i am trying to get to the bottom of this.

[2018-06-14 16:08] liraz commented on #1020
Just received the following insight from fabric:
**Heads Up!
CALayerInvalidGeometry; CALayer bounds contains NaN: [...]**

This crash is likely due to a division by zero when applying a transform to a view or layer. Setting the 'CG_NUMERICS_SHOW_BACKTRACE' environment variable in Xcode can help pinpoint the root cause. Check out the references below for more details.

**External resources:**
[Cras

[2018-06-14 16:14] liraz commented on #1020
Another crash just happend - and added more info to our fabric crash logs:
[code]

[2018-07-07 02:24] drifkind opened #1021 "XLFormTextView textChanged: fires excessively"
Every instance of XLFormTextView gets notified when any text view changes. Fix:
[code]

[2018-08-03 12:48] OCAndSwift opened #1022 "English into Chinese"
How to Cancel the localization for the corresponding language?I want to show Chinese cancel instead

[2018-08-03 17:01] mats-claassen commented on #1022
All the "Cancel" in XLForm are localized like `NSLocalizedString(@"Cancel", nil)`. So you can localize it to the language that you want.

[2018-08-13 09:55] Manloff commented on #1022
1. configure the project-localizations, add chinese.
2. add Localizable.strings and input the right value.

[2018-08-13 09:56] Manloff commented on #1015
set the value of the row

[2018-08-15 02:11] jazzwsr opened #1023 "formValues sort"
how can I sort formValues?

[2018-08-15 03:29] jazzwsr commented on #1023
To solve!

[2018-08-15 03:29] #1023 closed

[2018-08-24 04:06] miaoruiyuan opened #1025 "heightForHeaderInSection"
- (CGFloat)tableView:(UITableView *)tableView heightForHeaderInSection:(NSInteger)section

not work  ?????????

[2018-08-28 13:01] mats-claassen commented on #1025
That function should work ([look here](https://github.com/xmartlabs/XLForm#how-to-customize-the-header-andor-footer-of-a-section)). What problem are you having?

[2018-09-13 06:34] OCAndSwift opened #1026 "crash"
override func formRowDescriptorValueHasChanged(_ formRow: XLFormRowDescriptor!, oldValue: Any!, newValue: Any!) {
        super.formRowDescriptorValueHasChanged(formRow, oldValue: oldValue, newValue: newValue)
        if let index = self.sectionTitles.index(of: formRow.sectionDescriptor.title!), index > 0 {
            let tempList = self.contentList[index].dropLast()
            let curZJRow = se

[2018-10-01 19:55] pupsik959 opened #1027 "r background"

[2018-10-01 19:56] #1027 closed

[2018-10-02 14:09] OCAndSwift opened #1028 "row.selectorOptions"
row.selectorOptions 怎么实现Dynamic Selectors效果,比如
        row = XLFormRowDescriptor(tag: "selectorUser", rowType:XLFormRowDescriptorTypeSelectorPush, title:"User")
        //row.action.viewControllerClass = UsersTableViewController.self
       row.selectorOptions = modelList  ???? 怎么实现?
        section.addFormRow(row)

[2018-10-08 11:01] OCAndSwift commented on #1028
请问,dateFormatter怎么实现呢?

[2018-10-09 01:46] OCAndSwift opened #1029 "如何添加默认表单内容"
怎么直接打开默认表单内容呢? 我赋值上一个字典,刷新直接加载数据,我该怎么操作呢?

[2018-10-13 08:17] OCAndSwift opened #1030 "怎么刷新整个form的数据呢？ 就是类似tablevuew"

[2018-10-13 08:18] OCAndSwift commented on #1030
就是类似tableView的reloaddata,现在刷新的时候row.value无法更新

[2018-10-18 11:25] doremifaJ opened #1031 "Font bug"
When I change the system font on iPhone X , the form's font changed, not beautiful! How to fix it？

[2018-10-19 09:16] ramiallam commented on #1020
@liraz I'm facing the same crash, were you able to fix this?

[2018-10-19 12:16] mats-claassen commented on #1031
By default, XLForm uses the `[UIFont preferredFontForTextStyle:]` font. If you want a fixed font you could use `cellConfig` on each row to set the font, even if this is a bit tedious

[2018-10-19 13:12] liraz commented on #1020
Yes, this is fixed, we had to also do some memory fixes:
https://github.com/driivz/XLForm/commit/05506d2d45835e2dc16eb1d92ad1aa0d955665c1

You can take our version instead, this project seems to be not maintained anymore.

[2018-10-19 13:12] #1020 closed

[2018-10-22 06:24] #1031 closed, assigned to nobody

[2018-10-22 06:27] jazzwsr commented on #1031
thanks a lot，i got it，and use cellConfig fix it!

[2018-10-22 06:33] jazzwsr commented on #1031
thanks a lot，i got it，and use cellConfig fix it!

[2018-10-25 06:32] yiliazhang opened #1032 "XLFormRowDescriptorTypeDate 在 iOS 12中文系统上面显示英文，如何能显示中文"

[2018-11-22 14:01] 19940524 commented on #1025
if (@available(iOS 11.0, *)) {
        self.tableView.estimatedRowHeight = 0;
        self.tableView.estimatedSectionFooterHeight = 0;
        self.tableView.estimatedSectionHeaderHeight = 0;
    }

- (CGFloat)tableView:(UITableView *)tableView heightForHeaderInSection:(NSInteger)section {
    return 10;
}

- (UIView *)tableView:(UITableView *)tableView viewForHeaderInSection:(NSInteger)section {

[2018-11-28 09:15] Andy0570 commented on #1006
你可以自定义一个只有年月的日期控件。

[2018-11-28 09:16] Andy0570 commented on #1032
[row.cellConfigAtConfigure setObject:[NSLocale localeWithLocaleIdentifier:@"zh_CN"] forKey:@"locale"];

[2018-11-28 09:19] yiliazhang commented on #1032
谢谢：）
在2018年11月28日 17:16，独木舟的木 写道：

[row.cellConfigAtConfigure setObject:[NSLocale localeWithLocaleIdentifier:@"zh_CN"] forKey:@"locale"];

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-30 03:20] harveyseeking opened #1036 "建议把输入框移到右侧对齐，与其他风格统一"
同上

[2018-12-03 05:35] miaoruiyuan commented on #1025
@19940524  thx

[2018-12-03 13:07] zbencz3 opened #1037 "`XLFormRowDescriptorTypeSelectorPush` UI test"
How can I set the accessibility identifier for `XLFormRowDescriptorTypeSelectorPush`?

it would be handy to be able to use the tag of the row to activate the row.

[2018-12-21 20:16] bagatte opened #1038 "App crashes using custom rows with xib file in iOS 11.X - Swift"
Applications using `XLForm` running on **iOS 11.X** are crashing when using custom rows. After downloading the examples from https://github.com/xmartlabs/XLForm/tree/master/Examples/Swift, and trying to test _Custom Rows_, I've realized that the crash happens at `XLFormRowDescriptor.cellForFormController(::)` at **line 136**.

`bundle = [NSBundle bundleForClass:NSClassFromString(cellClass)];`

In

[2018-12-31 16:24] hebertpalomino opened #1039 "dynamic cell height using formDescriptorCellHeightForRowDescriptor?"
Hello,

I'm trying to resize my cell dynamically using formDescriptorCellHeightForRowDescriptor based on the cell content.. is this possible?

[2018-12-31 19:01] #1039 closed

[2018-12-31 19:02] hebertpalomino commented on #1039
Ended up setting a constraint property on my custom cell and changing that on `configure`

[2019-01-02 15:36] EphremBeainoCNAM commented on #531
Is there a way to solve this in 2019? haha

[2019-01-07 15:55] julienpouget commented on #1038
I had it on an iPad running iOS 9.3.5

[2019-01-07 16:57] mats-claassen commented on #531
There is still no easy way to change this as the placeholder is a UILabel placed on top of the text view. And the size of the label is fixed to the size of the text so that changing its alignment does not change the layout.

[2019-01-07 18:57] mats-claassen commented on #1038
Merged the PR. Thanks for contributing!

[2019-01-07 18:57] #1038 closed

[2019-01-20 23:13] HelloButler opened #1042 "how to change buttons' action and events of custom row in View Controller"
inside a ViewController.m
[code]
anyone have idea?

[2019-01-21 13:52] mats-claassen commented on #1042
`cellConfigAtConfigure` cannot be used like that to get properties of the row. It is just used to store values of properties which will later be set on the row. What you could do is setting the controller as a delegate to the row

[2019-01-21 22:06] HelloButler commented on #1042
I am new to Objective c,
how to do that? a example will be appreciated :)
this is normal way to do that, but with xlfrom, there's not such thing like cell instance;
- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath {
    PreferentialCell *cell = [tableView dequeueReusableCellWithIdentifier:@"preferentialCell" forIndexPath:indexPath];

    YXHGoo

[2019-01-24 00:20] HelloButler commented on #1042
I did it alternative way, thx anyway:)

[2019-01-24 00:20] #1042 closed

[2019-01-25 14:20] Andy0570 commented on #741
Sorry, Can you give an example of a solution?

My Question is:
[code]
Thanks.

[2019-02-10 22:35] liraz opened #1043 "Crash on XLFormTextFieldCell.m line 102"
Seems like memory for UITextfield delegate and target selector is not released.
Causing in the following crash:
[code]

The `KVO_IS_RETAINING_ALL_OBSERVERS_OF_THIS_OBJECT_IF_IT_CRASHES_AN_OBSERVER_WAS_OVERRELEASED_OR_SMASHED` happens after few times of allocation and release of the XLForm rows.
and at some point the delegate still points to an older object and target listener is still there.

[2019-02-11 03:19] liraz opened #1044 "Crash on XLFormViewController.m line 587"
It seems that a previous reference of XLFormController is being retained because it was killed before the viewDidDisappear was supposed to be called.
Then cell rowDescriptor cellConfig is actually nil - though most definitely had it before.

Here's the crash log:
[code]

[2019-02-11 13:23] mats-claassen commented on #1043
Hi @liraz could you make a pull request with that fix?

[2019-02-11 13:35] mats-claassen commented on #1044
Hi @liraz thanks for reporting this.
I agree the `removeObserver` calls should be in the dealloc as well. However, it is good to keep them in `viewWillDisappear` so that the view controller does only get notified if the view is being shown.

[2019-02-13 23:10] liraz commented on #1043
We had another similar crash that we can reproduce every day:
[code]

As stated before, the `viewDidDisappear` is not called sometimes due to some weird release.
Currently we could reproduce this only on one device with ios 12.1.0.

I hope my fix will solve this.
pull request already contains this commit:
https://github.com/xmartlabs/XLForm/pull/1045